/*
CTC Separate Stylesheet
Updated: 2018-04-17 13:50:57
Theme Name: Base WP Child
Theme URI: https://iograficathemes.com/wordpress-themes/base-wp/
Template: base-wp
Author: iografica
Author URI: https://www.iograficathemes.com/
Description: Base WP is a beautiful responsive, elegant and clean coded WordPress theme that can be used for pesonal, business or ecommerce websites. Base WP is e-commerce, multilingual ready, SEO friendly and cross-browser compatible. The theme is fully integrated with the most popular and free Wordpress plugins like WooCommerce, Easy Digital Downloads, Yoast Seo, Beaver Builder, Elementor and much more. You can customize Base WP via the Customizer and use this theme as an ecommerce or as a simple blogging platform.
Tags: one-column,two-columns,left-sidebar,right-sidebar,flexible-header,custom-background,custom-colors,custom-header,custom-menu,featured-image-header,featured-images,footer-widgets,full-width-template,microformats,post-formats,sticky-post,theme-options,threaded-comments,translation-ready,blog,e-commerce
Version: 2.11.1523973057
*/

.btn-register-newslatter.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    color: #e4d8d8;
}
.btn-register-newslatter.btn:hover{
    background: #7f8082;
}
#formsearchtop #btn-search{
    border: none;
    line-height: inherit;
}