/*body {*/
/*background:#fff;*/
/*font-family:Arial, sans-serif;*/
/*}*/

/*p {*/
/*margin-bottom:20px;*/
/*}*/

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0;
    padding:0;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    /*float:left;*/
    width: 100%;
    height: 235px;
    margin: auto;
}

.nbs-flexisel-item {
    float:left;
    margin:0;
    padding:0;
    cursor:pointer;
    position:relative;
    line-height:0;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    max-width:800px;
    max-height:420px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 33px;
    height: 33px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: -25px;
    background: url(../image/previou.gif) 0 no-repeat;
    background-size: 100%;
    -webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);
}

.nbs-flexisel-nav-right {
    right: -25px;
    background: url(../image/next.jpg) 0 no-repeat;
    background-size: 100%;
}
@media (max-width: 991px) and (min-width: 768px) {
    .nbs-flexisel-nav-right,.nbs-flexisel-nav-left {
        right: 5px;
    }
}