img, a {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.warrp-border-header {
    background: #018fcf;
    color: #ffffff;
}

.header-warrap .top-link {
    float: right;
    padding: 10px 20px 0;
}

.header-warrap .top-link .langague,
.header-warrap .header-account ,
.header-warrap .link-wishlist{
    background: url(../image/line.jpg) right no-repeat;
    background-size: 6px 20px;
}
.header-warrap .top-link .langague,
.header-warrap .top-link .header-account,
.header-warrap .account-daily,.header-warrap .link-wishlist {
    float: right;
    padding: 0 10px 0 5px;
    font-size: 11px;
    color: #ffffff;
    position: relative;
    z-index: 9999;
}
.header-warrap .link-wishlist{
    padding: 5px 14px 0 5px;
    font-size: 12px;
}
.header-warrap .link-wishlist a{
    color: #ffffff;
}
/*.header-warrap .account-daily {*/
    /*padding: 5px 10px 0 5px;*/
/*}*/

.account-daily a {
    color: #018fcf;
    font-size: 12px;
}

.selectric {
    cursor: pointer;
    padding: 5px;
}

.selectric.active {
    background: #ffffff;
    color: #080808;
}

.selectric-items {
    position: absolute;
    right: 10px;
    z-index: 99;
    text-align: center;
    box-shadow: 2px 11px 31px #00000038;
}

.selectric-items .selectric-scroll ul {
    margin: 0;
    padding: 0;
}

.langague .selectric-items .selectric-scroll ul li {
    background: white;
    color: #080808;
    width: 100px;
    height: 30px;
    padding: 5px 0;
    border-bottom: 1px solid #bbb5b5;
}

.langague .selectric-items .selectric-scroll ul li span {
    padding: 1px 23px 0 0;
}

.langague .selectric-items .selectric-scroll ul li img {

}

.header-warrap .top-link .image-logo {
    width: 17px;
    margin: 0 5px 0;
}

.header-warrap .top-link .fa-angle-down {
    color: #4cbaeb;
}

.header-warrap .top-link .label-account {
    padding-right: 5px
}

.header-warrap .header-logo .logo-image {
    width: 120px;
    margin-top: 30px;
}

.header-account .selectric-items .selectric-scroll ul li {
    background: #ffffff;
    width: 190px;
    padding: 11px;
    border-bottom: 1px solid #ececec;
}

.header-account .selectric-items .selectric-scroll ul li span {
    padding: 9px 45px;
}

.selectric-items .selectric-scroll ul li:hover {
    background: #4cbaeb;
}

.selectric-items .selectric-scroll ul li:hover a {
    color: #FFFFFF;
}

.locator-dropdown .selectric-items {
    width: 250px;
    background: #FFFFFF;
    right: 0;
}

.locator-dropdown .selectric-items li {
    padding: 5px;
    border-top: 1px solid #ececec;
    color: #102735;
}

.locator-dropdown.show-popup {
    background: #ffffff;
}

/**
Menu
 */
.warrp-border-header nav {
    margin-top: 15px;
}

#module-mainmenu .myMenu .menu-item-object-custom.active {
    background: #f19322;
    border-radius: 5px;
    box-shadow: 0px -1px 2px #6f6767;
}

#module-mainmenu .myMenu li:hover {
    background: #f19322;
    border-radius: 5px;
    box-shadow: 0px -1px 2px #6f6767;
}

/**
Search
 */
.warrp-border-header .topSearch {
    position: relative;
    margin: 0 0 20px;
}

.warrp-border-header .topSearch #search-text {
    width: 93%;
    height: 41px;
    border-radius: 0 3px 3px 0;
}

.warrp-border-header .topSearch .btnTopSearch {
    position: absolute;
    font-size: 16px;
    background: #f19322;
    font-weight: bold;
    right: 78px;
    margin: 2px 1px;
    border-radius: 2px;
    padding: 7px 30px;
}

#formsearchtop .form-group, #formsearchtop .input-group {
    width: 100%;
}

#formsearchtop .form-group .input-group-addon {
    width: 45px;
    color: #d6d6d6;
    background: #ffffff;
}

.warrp-border-header .search-warrap {
    margin: 40px 0 15px;
}

.warrp-border-header .search-warrap .label-search {
    letter-spacing: 2px;
}

.warrp-border-header .search-warrap .trekvn {
    font-size: 24px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #c5bcbc78;
    color: #ffffff;
    padding-left: 5px;
}

.warrp-border-header .search-warrap .com {
    letter-spacing: 1px;
    color: #feef00;
    text-shadow: 2px 2px 2px #21212159;
}

/**
main
 */

main .section-content {
    margin: 15px 0 15px;
    border: 1px solid #ececec;
    border-radius: 5px;
    box-shadow: 0 0 11px #9e9a9a6e;
}

main .section-content .title-section {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

}

main .section-content .title-section a {
    color: #018fcf;
}

main .section-content .item-content-section {
    position: relative;
    border-radius: 5px;
    margin: 5px 7px;
    overflow: hidden;
    height: 220px;
    border: 1px solid #ececec;
    box-shadow: 0 0 11px #9e9a9a6e;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

main .section-content .item-content-section:hover {
    opacity: 0.7;
}

main .section-content .item-content-section .image-item img {
    width: 100%;
    height: 220px;
}

main .section-content .item-content-section .item-title {
    position: absolute;
    top: 10px;
    padding: 5px 10px;
}

main .section-content .item-content-section .item-title a {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #4a4a4a;
}

main .section-content .item-content-section .item-title a:hover {
    color: #f19322;
}

main .section-content .item-content-section .content-place {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    background: #018fcf;
    color: #fff;
    text-align: center;
    padding: 6px;
}

main .section-content .item-content-section .content-place .review-place {
    font-size: 11px;
    padding: 5px 0;
}

main .section-content .item-content-section .content-place .price-place {
    font-weight: bold;
    padding: 13px 10px;
}

main .section-content .item-content-section .content-place .review-place span.review-percent {
    background: #f19322;
    padding: 1px;
    border-radius: 2px;
}

main .section-content .item-content-section .image-item {
    width: 376px;
}

/*main .section-content .item-content-section .background-hover{*/
/*display: none;*/
/*}*/
/*main .section-content .item-content-section:hover .background-hover {*/
/*display: block;*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*background: #00000036;*/
/*top: 0;*/
/*opacity: 0.5;*/
/*}*/
/**
end Main
 */

/**
Footer
 */
.footer-top-contain {
    background: #102735;
    padding: 35px;
    color: #e4d8d8;
    /*margin-top: 20px;*/
}

.footer-top-contain .newsLetter-warrap {
    overflow: hidden;
    border-bottom: 1px solid #968e8e;
    margin-bottom: 24px;
    padding-bottom: 10px;
}

.footer-top-contain .form-newslatter {
    float: right;
    position: relative;
}

.footer-top-contain .email-newslatter {
    width: 100%;
    height: 33px;
}

.footer-top-contain .btn-register-newslatter {
    background: #7f8082;
    position: absolute;
    width: 100px;
    right: 13px;
    top: 0;
    padding: 7px 0;
}

.footer-bottom {
    background: #018fcf;
    text-align: center;
    color: #edefec;
}

.footer-bottom .logo-image-footer {
    padding: 25px 0 0;
}

.footer-bottom .logo-image-footer img {
    width: 170px;
}

.footer-bottom .copyright {
    overflow: hidden;
    padding-bottom: 20px;
}

.footer-bottom .copyright .copyright-left {
    text-align: right;
    background: url(../image/line.jpg) right no-repeat;
    background-size: 6px 20px;
    padding-right: 10px;
}

.footer-bottom .copyright .copyright-right {
    text-align: left;
    padding-left: 7px;
}

.footer-top-contain .category-bottom .locator-dropdown {
    float: right;
}

.footer-top-contain .category-bottom .locator-dropdown {
    float: right;
    width: 250px;
    padding: 5px 10px;
    border: 2px solid #8c898969;
    font-size: 13px;
}

.footer-top-contain .category-bottom .locator-dropdown .image-logo {
    width: 27px;
    margin-right: 5px;
}

.footer-top-contain .category-bottom .locator-dropdown .fa-angle-down {
    float: right;
    padding-top: 5px;
    font-size: 13px;
}

.footer-top-contain .category-bottom .social-muti ul li {
    display: inline;
    padding: 5px;
    border: 1px solid #ececec;
    border-radius: 50%;
    margin: 0 4px;
    background: #fbf7f7;
}

.footer-top-contain .category-bottom .social-muti ul li:hover {
    background: #424344;
    border: #424344;
    color: #fbf7f7;
    padding: 6px;
    /*-webkit-transition: all 0.25s ease-in-out;*/
    /*-moz-transition: all 0.25s ease-in-out;*/
    /*-o-transition: all 0.25s ease-in-out;*/
    /*-ms-transition: all 0.25s ease-in-out;*/
    /*transition: all 0.25s ease-in-out;*/
    /*transition: all 0.5s ease 0s;*/
}

.footer-top-contain .category-bottom .social-muti ul li a {
    color: #102735;
    text-align: center;
    font-size: 17px;
}

.footer-top-contain .category-bottom .social-muti ul li:hover a {
    color: #fbf7f7;
}

.footer-top-contain .category-bottom .social-muti ul li a .icon-social {
    width: 17px;
}

.footer-top-contain .category-bottom .category-bottom-list {
    padding: 25px 0 0;
}

.footer-top-contain .category-bottom .category-bottom-list .item-sub a:hover {
    opacity: 0.5;
}

.footer-top-contain .category-bottom .category-bottom-list .item-sub a {
    color: #d0cdcd;
    font-size: 13px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.footer-top-contain .category-bottom .category-bottom-list .item-sub:hover a {
    color: #ffffff;
    font-size: 13px;
}

@media (max-width: 991px) {
    #mod-mobile-menu .mini-logo-wappar img {
        width: 100%;
    }

    .footer-top-contain .newsLetter-warrap .text-title-newslatter {
        text-align: center;
    }

    main .section-content .item-content-section {
        height: auto;
    }

    main .section-content .item-content-section .image-item img {
        height: 100%;
    }

    .warrp-border-header .header-warrap {
        display: none;
    }

    .warrp-border-header .topSearch #search-text {
        width: 100%;
        /*font-size: 30px;*/
        /*height: 60px;*/
    }

    .warrp-border-header .topSearch .btnTopSearch {
        right: 0;
    }

    .footer-top-contain .category-bottom .locator-dropdown {
        float: none;
        margin: auto;
        position: relative;
    }

    .footer-top-contain .form-newslatter {
        float: none;
        margin: auto;
    }

    .footer-top-contain .btn-register-newslatter {
        right: 10px;
        border-radius: 0;
        width: 75px;
    }

    .footer-top-contain ul.list-social-login {
        width: 300px;
        margin: auto;
        padding-top: 20px;
        padding-left: 30px;
        font-size: 19px;
    }

    .footer-top-contain .category-bottom .category-bottom-list {
        text-align: left;
    }

    .footer-top-contain .category-bottom .category-bottom-list ul {
        margin-top: 20px;
    }

    .footer-bottom .copyright .copyright-left, .footer-bottom .copyright .copyright-right {
        text-align: center;
        /*background: none;*/
        margin: 0;
        /*font-size: 20px;*/
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    main .section-content .item-content-section .item-title a {
        font-size: 26px;
    }

    main .section-content .item-content-section .content-place .price-place {
        /*font-size: 30px;*/
    }

    main .section-content .item-content-section .content-place .review-place {
        /*font-size: 21px;*/
    }

}

@media (max-width: 991px) and (min-width: 320px) {
    main .section-content .item-content-section .item-title a {
        font-size: 19px;
    }

    .warrp-border-header .topSearch .btnTopSearch {
        right: 0;
        /*font-size: 33px;*/
        padding: 7px 30px;
    }

    #pullMenu .fa-align-justify {
        font-size: 55px;
    }

    main .section-content .item-content-section {
        border-radius: 18px;
        margin: 10px 7px;
    }

    main .section-content .item-content-section .item-title {
        padding: 15px;
    }

    .footer-top-contain .email-newslatter {
        /*height: 44px;*/
        padding: 0 30px;
    }

    .footer-top-contain .category-bottom .locator-dropdown .image-logo {
        /*width: 55px;*/
        margin-right: 27px;
    }

    .footer-top-contain .category-bottom .locator-dropdown {
        width: 100%;
        padding: 0 10px;
        /*font-size: 25px;*/
    }

    .footer-top-contain ul.list-social-login {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .footer-top-contain .social-muti {
        margin-top: 20px;
    }

    .locator-dropdown .selectric-items {
        width: 100%;
        background: #FFFFFF;
        right: 0;
    }

    .footer-top-contain .category-bottom .locator-dropdown .fa-angle-down {
        padding-top: 10px;
        font-size: 24px;
    }

    .item-list-price-tourist .item-detail-price-border .item-detail-price {
        font-size: 18px;
    }

    .main-content .listing-page .list-tourist .item-list-price-tourist {
        padding-left: 0;
    }

    .item-list-price-tourist .button-order-service {
        font-size: 13px;
    }

    .menu-left-mobile.hidden-lg.hidden-md {
        padding: 0 15px;
        position: relative;
    }
}

/**
Listing page
 */

main .main-content {
    margin: 20px 0 20px;
}

.main-content .menu-left .sidebar .mapp-wappar {
    position: relative;
    border: 1px solid #ecececf0;
}

.main-content .menu-left .sidebar {
    border: 1px solid #ececec;
    padding: 5px;
    box-shadow: 1px 0 4px #0a0a0a4a;
    position: relative;
    background: #ffffff;
    margin-bottom: 20px;
}

.main-content .menu-left .sidebar .map-sticker {
    position: absolute;
    top: 0;
    right: 15px;
    background: #018fcf;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}

.main-content .filter-border {
    border: 1px solid #ececec;
    padding: 5px;
    box-shadow: 1px 0 4px #0a0a0a4a;
    position: relative;
    /*margin-top: 15px;*/
    background: #ffffff;
}
.main-content .filter-border > span{
    font-weight: bold;
}
.main-content .filter-title {
    background: #018fcf;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 0;
}

.main-content .filter-content {
    /*height: 250px;*/
    border: 1px solid #ecececab;
}

.main-content .listing-page {
    /*overflow: hidden;*/
    padding-left: 15px;
}

.main-content .listing-page .toolbar-sort-title {
    float: left;
    line-height: 33px;
    padding-right: 10px;
}

.main-content .listing-page .select-form-sort {
    width: 167px;
    float: left;
}

.main-content .listing-page .select-form-sort .form-control {
    height: 30px;
    padding: 0px 13px;
}

.main-content .listing-page .list-tourist {
    padding: 6px;
    border: 1px solid #ececec;
    border-radius: 5px;
    box-shadow: 0 0 13px #44414130;
    background: #ffffff;
    margin-bottom: 15px;
    position: relative;
}

.main-content .listing-page .list-tourist .item-content-tourist .image-item-tour-warrap {
    position: relative;
}

.main-content .listing-page .list-tourist .item-content-tourist .image-item-tour-warrap .wishlist {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 24px;
}

.image-item-tour-warrap .wishlist .fa-heart.active {
    color: #ff003bfc;
}

.main-content .listing-page .list-tourist .item-content-tourist .image-item-tour-warrap .image-item img {
    width: 100%;
    height: 175px;
}

.main-content .listing-page .list-tourist .item-list-price-tourist .item-detail-tourist .item-name-tourist a,
.main-content .listing-page .list-tourist .item-list-price-tourist .item-detail-tourist .item-name-tourist{
    font-size: 20px;
    color: #018fcf;
    font-weight: bold;
}

.main-content .listing-page .list-tourist .item-list-price-tourist {
    padding-left: 30px;
}

.main-content .listing-page .list-tourist .item-list-price-tourist .item-detail-tourist .item-detail-sub {
    padding-bottom: 5px;
    font-weight: bold;
}

.main-content .listing-page .list-tourist .item-list-price-tourist .item-detail-tourist .item-detail-sub .icon {
    padding-right: 5px;
    font-size: 16px;
}

.main-content .listing-page .list-tourist .item-list-price-tourist .item-detail-tourist {
    font-size: 13px;
}

.main-content .listing-page .list-tourist .item-list-price-tourist .item-detail-price-border {
    text-align: center;
}

.item-list-price-tourist .item-detail-price-border .item-detail-price-label {
    padding: 10px 5px;
    font-size: 22px;
    font-weight: 700;
}

.item-list-price-tourist .item-detail-price-border .item-detail-price {
    font-size: 25px;
    font-weight: 700;
    color: #018fcf;
}

.item-list-price-tourist .item-detail-price-border .item-detail-price.price-not-special {
    padding: 10px 0;
    font-size: 18px;
}

.item-list-price-tourist .item-detail-price-border .review {
    padding: 10px;
}

.item-detail-price-border .review .review-percent {
    background: #f19322;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0 0 3px #0000007a;
}

.item-list-price-tourist .button-order-service {
    background: #ebebeb;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #818181;

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

}

.item-list-price-tourist .button-order-service a, .item-list-price-tourist .button-order-service .text-button {
    font-weight: bold;
    font-size: 15px;
    /*color: #818181;*/
}

.item-list-price-tourist .button-order-service:hover {
    background: #9ad3ee;
}

.item-list-price-tourist .button-order-service:hover a {
    color: #298dc1;
}

.item-list-price-tourist .button-order-service a {
    color: #818181;
}

.item-list-price-tourist .button-order-service .text-button {
    padding: 10px;
    cursor: pointer;
}

.item-list-price-tourist .button-order-service.order-service {
    border-right: 1px solid #e0d6d6;
}

.listing-page-border {
    background: #e6e6e6;
}

.best-sale {
    font-size: 12px;
    color: #329c0f9c;
    border: 1px solid #4ebf2770;
    width: 49px;
    padding: 1px 2px;
    text-align: center;
    background: #82c26c08;
    box-shadow: 1px 0 12px #4aff0e8f;
}

.item-detail-price-border .item-detail-price-special {
    color: #f10606;
    font-weight: bold;
    font-size: 15px;
    text-decoration: line-through;
    position: absolute;
    top: -13px;
    left: 35%;
}

.list-tourist .sales-percent {
    position: absolute;
    background: #dc0c0c;
    color: #ffffff;
    padding: 1px 8px;
    right: 0;
    font-weight: bold;
    top: 10px;
}

.item-detail-price-border .price-special-border {
    position: relative;
}

.pagination-border ul.pagination {
    margin: 20px 0 5px;
}

.pagination-border ul li {
    background: none;
    cursor: pointer;
    border: none;
}

.pagination-border ul.page-numbers li .current {
    font-weight: bold;
    text-shadow: 0 0 2px #b3a7a7;
    text-decoration: underline;
    background: #2d2b2b0a;
}

.listing-page .pagination-border, .entertainment-page .pagination-border, .pagination-border {
    text-align: center;
}

.listing-page .pagination-border .pagination > li > a, .entertainment-page .pagination-border .pagination > li > a, .pagination-border ul.page-numbers li a {
    color: #818181;
    /*background-color: #e6e6e6;*/
    border: none;
    padding: 6px 21px;
}

.listing-page .pagination-border .pagination > li.active a, .entertainment-page .pagination-border .pagination > li.active a {
    font-weight: bold;
    text-shadow: 0 0 2px #b3a7a7;
    text-decoration: underline;
    background: #2d2b2b0a;
}

.listing-page .note-bottom {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.toolbar .fa-info-circle {
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0 0px 5px;
    color: #018fcf;
}

@media (max-width: 991px) {
    .main-content .listing-page .list-tourist .item-list-price-tourist .item-detail-tourist .item-detail-sub {
        text-align: center;
        padding-bottom: 0;
    }

    .item-list-price-tourist .item-detail-price-border .item-detail-price-label {
        padding: 0 5px;
    }

    .item-list-price-tourist .item-detail-price-border .item-detail-price.price-not-special {
        padding: 0;
    }

    .item-detail-price-border .item-detail-price-special {
        position: initial;
    }

    .main-content .listing-page .list-tourist .item-content-tourist .image-item-tour-warrap .image-item img {
        height: 262px;
        max-height: 190px;
    }

    .listing-page .note-bottom {
        padding: 0 15px;
    }

    #pullMenu .fa-align-justify {
        padding: 5px 15px;
    }

    #mod-mobile-menu .icon-my-account {
        position: absolute;
        right: 10px;
        font-size: 35px;
        top: 18px;
    }
    #mod-mobile-menu .selectric-items.popup-link {
        background: #ffffff;
        font-size: 15px;
        color: #018fcf;
        width: 150px;
        text-align: left;
        position: absolute;
        top: 45px;
        right: 0;
        border-radius: 5px;
    }
    #mod-mobile-menu .selectric-items.popup-link .selectric-scroll li{
        border-bottom: 1px solid;
        padding: 5px 10px;
        background: #018fcf1c;
    }
    #mod-mobile-menu .icon-my-account a {
        color: #018fcf;
        font-weight: bold;
    }

    .main-content .listing-page {
        padding-left: 0;
        margin-top: 25px;
    }

    .sort-by .form-control {
        display: block;
        width: 100%;
        height: 42px;
        padding: 7px 12px;
        font-size: 17px;
        text-align: center;
        line-height: 1.42857;
        color: #fff;
        background-color: #018fcf;
        background-image: none;
        border: 2px solid #fff;
        border-radius: 0;
    }

    .button-sort-map .button-map {
        border: 2px solid;
        text-align: center;
        padding: 7px 0;
        font-size: 17px;
        margin-right: 10px;
    }

    .item-list-price-tourist .button-order-service {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .button-sort-map .button-map {
        padding: 7px 0;
    }

    .sort-by .form-control {
        height: 52px;
        padding: 7px 12px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 991px) {
    .footer-top-contain .category-bottom .social-muti ul li {
        padding: 3px 5px;
        margin: 0;
    }

    .item-list-price-tourist .button-order-service .text-button {
        padding: 10px 0;
    }

    .container {
        width: 100%;
    }

    .main-content .listing-page .list-tourist .item-list-price-tourist {
        padding-left: 20px;
    }

    .menu-left-mobile .button-filter {
        border: 2px solid;
        text-align: center;
        padding: 7px 0 7px 5px;
        font-size: 20px;
        margin: 0 0 0 0;
        background: url(../image/154946-200.png) 70% no-repeat;
        background-size: 45px;
        border-radius: 5px;
    }

    .menu-left-mobile .form-control {
        display: block;
        width: 95%;
        height: 42px;
        padding: 7px 12px;
        font-size: 17px;
        text-align: center;
        font-weight: bold;
        line-height: 1.42857;
        color: #018fcf;
        background-color: #ffffff;
        background-image: none;
        border: 2px solid #fff;
        /*border-radius: 0;*/
        text-transform: uppercase;
        margin: auto;
    }
}

/**
Product detail page
 */
.sidebar.customer-care {
    background: #f19322 !important;
    text-align: center;
    color: #ffffff;
    padding: 30px !important;
    font-size: 13px;
}

.customer-care-call-text {
    padding: 10px 0;
}

.sidebar.customer-care .customer-number-phone {
    background: #ffffff;
    width: 175px;
    padding: 7px 15px 6px 0px;
    color: #018fcf;
    font-weight: bold;
    border-radius: 24px;
    margin: auto;
    font-size: 20px;
}

.sidebar.customer-care .customer-number-phone .icon-telephone {
    padding: 6px 10px;
    border-radius: 50%;
    background: #018fcf;
    color: #ffffff;
}

.menu-left .register-information {
    /*margin-top: 20px;*/
    background: #ffffff;
    text-align: center;
    box-shadow: 1px 0 4px #0a0a0a4a;
}

.menu-left .register-info-title {
    background: #018fcf;
    padding: 15px 0;
    color: #fffcfc;
    font-size: 17px;
}

.register-information .register-info-text {
    color: #948383;
    padding: 15px 30px;
    font-size: 13px;
}

.register-information .form-register-info {
    padding: 15px;
    text-align: left;
}

.register-information .form-register-info .form-group input {
    border: 1px solid #018fcf52;
}

.register-information .form-register-info .register {
    background: #f19322;
    color: #ffffff;
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    font-size: 16px;
}

.product-detail-page {
    background: #ffffff;
    margin-left: 15px;
    box-shadow: 1px 0 4px #0a0a0a4a;
    padding: 15px;
    overflow: hidden;
}

/*.product-detail-page .content-tourist {*/
/*border-bottom: 1px solid #e6e6e6;*/
/*}*/
.title-tourist {
    font-size: 23px;
    font-weight: bold;
    color: #018fcf;
    padding: 15px 5px;
    text-transform: uppercase;
}

.related-tourist .related-tourist-label {
    color: #018fcf;
    padding: 5px 0 0;
    font-size: 17px;
    border-bottom: 3px solid #ececec;
    margin-bottom: 15px;
}

.related-list-tourist .related-item-tourist .image-item-related {
    padding: 0 5px;
}

.related-list-tourist .related-item-tourist .image-item-related img {
    width: 100%;
    max-height: 270px;
    height: 180px;
}

.title-item-related, .title-item-related a {
    padding: 10px 5px;
    color: #018fcf;
    font-weight: bold;
}

.comment-fb {
    border-top: 1px solid #ececec;
    margin-top: 20px;
}

.comment-fb .comment-fb-like {
    text-align: center;
    padding: 15px 0 20px 0;
    font-weight: bold;
}

.comment-fb .comment-fb-place .fb-comments.fb_iframe_widget > span iframe {
    width: 100% !important;
}

.header-tourist {
    overflow: hidden;
}

.info-tourist {
    font-size: 15px;
    padding-bottom: 20px;
}

.info-tourist img {
    width: 100%;
    padding: 20px 0;
}

.image-info-first {
    width: 70%;
    float: left;
    padding: 0 10px 20px;
}

.image-info-first img {
    width: 100%;
    padding: 0;
}

.content-short-description {
    width: 30%;
    float: left;
}

.short-description {
    font-weight: bold;
    font-size: 16px;
}

/**
Filter mobile
 */
.filter-mobile-wappar {
    position: relative;
    text-align: center;
}

.filter-mobile-wappar .filter-mobile-content- {
    background: #ffffff;
    position: absolute;
    left: -5px;
    width: 310px;
    padding-bottom: 15px;
    z-index: 99;
    border: 1px solid #ececec;
    box-shadow: 0 5px 21px #8e8c8c;
    border-radius: 5px;
}

.filter-mobile-wappar .filter-mobile-label {
    background: #018fcf;
    color: #ffffff;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.filter-mobile-wappar .filter-mobile-select {
    padding: 5px;
    border-radius: 25px;
    border: 1px solid #018fcf;
    margin: 5px;
}

.filter-mobile-wappar .filter-mobile-select .form-control {
    color: #000000;
    text-transform: capitalize;
}

.filter-mobile-content .filter-mobile-search input {
    width: 100%;
    padding: 5px 30px;
    height: 45px;
    font-size: 15px;
    border: 1px solid #018fcf;
}

.langague .selectric-items:hover {
    display: block !important;
}

/** List Food */
h3.list-food-label {
    color: #018fcf;
    font-weight: bold;
    padding-left: 3px;
}

.follow-by-food-content-item {
    border: 1px solid #ececec;
    position: relative;
    margin: 5px;
}

.follow-by-food-content-item .follow-food-image {
    width: 100%;
}

.follow-by-food-content-item .follow-food-image img {
    width: 100%;
    height: 150px;
}

.follow-by-food-content .follow-by-food-content-item .follow-food-name-border {
    position: absolute;
    background: #42393961;
    width: 100%;
    top: 0;
    height: 100%;
}

.follow-by-food-content .follow-by-food-content-item .follow-food-name-border a {
    color: #ffffff;
}

.follow-by-food-content .follow-by-food-content-item .follow-food-name-border a:hover {
    color: #f19322;
}

.follow-by-food-content .follow-by-food-content-item .follow-food-name-border .follow-food-name {
    top: 50%;
    height: 100%;
    text-align: center;
    padding: 65px 0;
    font-weight: bold;
    font-size: 16px;
}

.food-sub-content .food-sub-content-image-border .food-item-image img, .blog-page img {
    width: 100%;
    height: 100%;
}

.food-sub-content .food-sub-content-image-border .review-place {
    left: 0;
    right: 0;
    color: #ffffff;
    bottom: 0;
    position: absolute;
    height: 35%;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .25) 60%, rgba(0, 0, 0, .75));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .25) 60%, rgba(0, 0, 0, .75));
    font-weight: bold;
    text-align: right;
    padding: 30px 10px 5px 0;
}

.food-sub-content .food-sub-content-image-border {
    position: relative;
}

.food-sub-content-image-border .review-place span.review-percent {
    border-radius: 4px;
    background: #f19322;
    padding: 2px;
    box-shadow: 0 0 30px #1f0e0e;
}

.food-sub-content .food-sub-border {
    padding: 5px;
}

.food-sub-content-image-border .food-item-image {
    height: 180px;
}

.food-sub-border .food-sub-content-description-name {
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    /*text-shadow: 0 0 1px #6b6060;*/
}

.food-sub-border .food-sub-content-short-description {
    font-size: 13px;
}

.follow-by-food, .food-sub-border .food-sub {
    position: relative;
    overflow: hidden;
}

.food-sub {
    margin: 29px 0;
    position: relative;
    overflow: hidden;
}

.main-content .listing-page .list-tourist.list-food {
    border: none;
    box-shadow: none;
    background: none;
}

@media only screen and (max-width: 991px) {
    .food-sub-content-image-border .food-item-image {
        height: 380px;
    }

    .food-sub-content .food-sub-content-image-border .review-place {
        height: 20%;
        padding: 35px 10px 5px 0;
    }
}

/**
Style quick view
 */
ul.tabs-quickview {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 2px solid #e6e6e6;
    /* border-left: 1px solid #999999; */
    width: 100%;
}

ul.tabs-quickview li {
    float: left;
    margin: 0 2px 0 0;
    cursor: pointer;
    padding: 0px 20px;
    height: 31px;
    line-height: 31px;
    /* border: 1px solid #999999; */
    border-left: none;
    font-weight: bold;
    background: #EEEEEE;
    overflow: hidden;
    position: relative;
}

ul.tabs-quickview li:hover {
    background: #CCCCCC;
}

ul.tabs-quickview li.active {
    color: #018fcf;
    background: #5bccff;
    border-bottom: 1px solid #5bccff;
}

.tab_container-quickview {
    /*border: 1px solid #999999;*/
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #FFFFFF;
}

.tab_content-quickview {
    padding: 20px 0px;
    display: none;
}

.item-tourist .quickview .container-tab-quickview {
    margin: 0 auto;
    border-top: 1px solid #c4bcbc;
    padding: 30px 0 0;
}

.item-tourist .quickview {
    margin-top: 10px;
    display: none;
}

.container-tab-quickview .button-close {
    text-align: center;
    border: 2px solid #e6e6e6;
    overflow: hidden;
    width: 100px;
    float: right;
    padding: 5px;
    color: #cac7c7;
    font-weight: bold;
    cursor: pointer;
}

.container-tab-quickview .button-close:hover {
    border: 2px solid #97dfff6e;
    color: #97dfff6e;
}

/** MAP */
.place-map .info-hotel-wappar {
    padding: 20px;
}

.info-hotel-wappar h4.info-hotel {
    text-transform: uppercase;
    font-weight: bold;
}

.info-hotel-wappar .info-hotel-content ul, .review-comment-border ul, .price-border ul {
    margin: 0;
    padding: 0;
}

.info-hotel-wappar .info-hotel-content > ul > li {
    display: inline-block;
    width: 24%;
}

.info-hotel-wappar .info-hotel-content > ul > li a {
    font-size: 14px;
}

/** Comment */
.review-comment-border {
    padding: 0 20px;
}

.review-comment-border .review-conmment-label {
    font-weight: bold;
}

.review-comment-border .review-comment-content li.review-comment-item {
    border-top: 2px solid #e6e6e6;
    overflow: hidden;
}

.review-comment-border .review-comment-content li:last-child.review-comment-item {
    border-bottom: 2px solid #e6e6e6;
}

.review-comment-border .review-comment-content li.review-comment-item ul > li {
    display: inline-block;
    float: left;
    text-align: center;
    padding: 10px;
}

.review-comment-border .review-comment-content li.review-comment-description {
    width: 80%;
    text-align: justify !important;
}

.review-comment-border .review-comment-content .review-comment-rating {
    width: 20%;
    padding: 30px 0 !important;
    border-right: 2px solid #ececec;
}

.review-comment-border .review-comment-rating span.review-percent {
    background: #f19322;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0 0 3px #0000007a;
}

.review-comment-border .review-comment-content li.review-comment-item ul > li p {
    margin: 0;
}

/** Quick price */
.price-border .price-content-item {
    border-bottom: 2px solid #e6e6e6;
    padding: 20px 10px 0;
    overflow: hidden;
}

.price-border .price-content-item .price-sub-image .image-supplier-logo {
    width: 120px;
}

.price-border .price-content-item .price-sub-image .image-supplier-logo img {
    width: 100%;
}

.price-border .price-content-item ul > li {
    display: inline-block;
    float: left;
    width: 50%;
}

.price-border .price-content-item .price-sub-detail, .price-border .price-content-item .price-sub-detail a {
    color: #1c7a2c;
    font-size: 19px;
    font-weight: bold;
    text-align: right;
}

.price-border .price-content-item .price-sub-detail span {
    padding-right: 20px;
}

.entertainment-page {
    background: none;
    box-shadow: none;
}

/** Entertainment */
.entertainment-page-content {
    padding-left: 30px;
}

.entertainment-page-content img {
    width: 100%;
}

.entertainment-page-content .entertainment-main, .entertainment-page-content .entertainment-sub {
    border: 1px solid #ececec;
    box-shadow: 0 0 13px #44414130;
    background: #ffffff;
    margin-bottom: 15px;
    position: relative;
}

.entertainment-page-content .entertainment-image {
    padding: 10px 10px;
    height: 200px;
}

.entertainment-main .entertainment-image {
    height: 375px;
}

.entertainment-page-content .entertainment-image img {
    height: 100%;
}

.entertainment-page-content .entertainment-content {
    padding: 10px;
}

.entertainment-page-content .entertainment-content .entertainment-content-label a {
    text-transform: uppercase;
    color: #1c7a2c;
    font-weight: bold;
    font-size: 23px;
    padding: 15px 2px;
    text-shadow: 0 0 1px #ffffff;
}

.entertainment-page-content .entertainment-image img {
    opacity: 0.8;
}

.entertainment-page-content .entertainment-sub .entertainment-content .entertainment-content-label a {
    font-size: 16px;
}

.entertainment-page-content .entertainment-content-detail {
    /*text-shadow: 0 0 1px #13151347;*/
}

.tab_container-quickview .carousel-control.right , .quickview-mobile .carousel-control.right{
    right: 0;
    top: 50%;
}

.tab_container-quickview .right.carousel-control,.quickview-mobile .right.carousel-control{
    color: #a58989;
    border-radius: 50%;
    border: 2px solid;
    padding: 5px 13px 8px;
    width: 40px;
    height: 40px;
}

/** News page */
.news-page .entertainment-main .entertainment-image {
    height: 220px;
}

.news-page .entertainment-image {
    padding: 10px;
}

.news-page .entertainment-content .entertainment-content-label a,
.news-page .entertainment-content .entertainment-content-label {
    color: #018fcf;
    text-shadow: 0 0 1px #d2d2d2;
    font-size: 17px;
    font-weight: bold;
}

.news-page .entertainment-content .entertainment-content-label a:hover {
    color: #9dcade;
}

.news-page .entertainment-content-detail {
    /*border-top: 1px outset;*/
    /*text-shadow: 0 0 1px #13151347;*/
}

.news-page .entertainment-content-detail .entertainment-short-description {
    padding: 15px 0 25px 0;
}

.news-page .news-page-button span.news-button-view-detail {
    padding-left: 20px;
}

.news-page .news-page-button span.news-button-view-detail a {
    color: #018fcf;
}

.news-page .news-page-button .news-time .fa-calendar-alt {
    padding-right: 5px;
}

/** Transport page */
.transport-page .main-content .filter-title {
    background: #f19322;
}

.transport-page .item-list-price-tourist .item-detail-price-border .item-detail-price-label {
    padding: 2px 5px;
}

.transport-page .item-list-price-tourist .item-detail-price-border .item-detail-price.price-not-special {
    padding: 0;
    font-size: 24px;
}

.transport-page .item-list-price-tourist .button-order-service {
    background: #e6e6e6;
    margin-top: 2px;
}

.transport-page .item-list-price-tourist .button-order-service:hover a {
    color: #ffffff;
}

.transport-page .item-list-price-tourist .button-order-service.order-service {
    background: #018fcf;
    padding: 5px;
}

.transport-page .item-list-price-tourist .button-order-service a {
    color: #afafaf;
}

.transport-page .item-list-price-tourist .button-order-service.order-service:hover {
    background: rgba(1, 143, 207, 0.6);
}

.transport-page .item-list-price-tourist .button-order-service:hover {
    background: rgba(100, 160, 230, 0.75);
}

.transport-page .item-list-price-tourist .button-order-service.order-service a {
    color: #ffffff;
}

.transport-page .item-list-price-tourist .button-order-service .text-button {
    padding: 5px;
}

.transport-page .list-tourist .sales-percent {
    font-size: 12px;
}

.transport-page .list-tourist .customer-like {
    background: #07801d;
}

/** BLOG PAGE */
.blog-page {
    padding: 30px 0;
}

.blog-page .blog-picture-top-border {
    position: relative;
    margin: 5px;
}

.blog-page .blog-picure-image {
    height: 180px;
}

.blog-page .blog-picture-image-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #00000052;
}

.blog-page .blog-picture-top-border .view-button {
    text-transform: uppercase;
    font-size: 17px;
    width: 135px;
    height: 35px;
    text-align: center;
    border: 1px solid #ffffff8f;
    padding: 5px 2px;
    margin: auto auto;
    top: 44%;
    position: absolute;
    left: 27%;
}

.blog-page .blog-picture-top-border .view-button a {
    color: #ffffffba;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    position: absolute;
    left: 0;
    line-height: 34px;
    top: 0;
}

.blog-page .blog-picture-top-border .view-button a:hover {
    background: #e2e0e085;
    color: #ffffff;
}

.blog-picture-left-border {
    margin: 5px;
    position: relative;
}

.blog-page .blog-picture-left-border .blog-picure-image {
    height: 350px;
}

.blog-page .blog-picture-left-content {
    bottom: 0;
    position: absolute;
    height: 23%;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .25) 60%, rgba(0, 0, 0, .75));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .25) 60%, rgba(0, 0, 0, .75));
    width: 100%;
    padding: 10px 15px;
}

.blog-page .blog-picture-left-content .blog-left-label a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.blog-page .blog-picture-left-content .blog-left-date-comment {
    padding: 9px 0;
    color: #bdbcbc;
}

.blog-page span.blog-left-date {
    padding-right: 16px;
    border-right: 1px solid;
}

.blog-page span.blog-left-comment {
    padding-left: 16px;
}

.blog-page .blog-picture-right .blog-picture-left-content {
    height: 38%;
    padding: 10px 5px;
    width: 97%;
    bottom: 5px;
}

.blog-page .blog-picture-right .blog-picure-image {
    height: 170px;
}

.blog-page .blog-picture-right .blog-picture-left-content .blog-left-label a {
    font-size: 14px;
}

.blog-page .blog-page .blog-picure-image {
    height: 167px;
}

.blog-picture-sub {
    padding: 5px;
}

.blog-page .article-information ul {
    margin: 0;
    padding: 0;
}

.article-information {
    padding: 30px 0;
}

.article-information .article-new {
    padding: 5px;
}

.article-information .article-label {
    font-size: 20px;
    font-weight: bold;
    color: #018fcf;
    padding: 10px 0;
}

.article-information .article-new ul.list-article > li.list-article-sub {
    overflow: hidden;
    float: left;
    width: 50%;
}
.article-information .list-article .list-article-sub .article-image-border {
    height: 145px !important;
}

.article-information .article-new ul.article-border > li {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 30px 0;
    border-top: 1px solid;
    font-size: 13px;
}

.article-information .article-new ul.article-border > li.article-information-content {
    padding: 30px 0 30px 5px;
}

.article-information .article-image-border {
    height: 180px;
}

.article-information .article-information-content .article-title {
    padding-bottom: 10px;
}

.article-information .article-information-content .article-title a {
    text-transform: uppercase;
    font-weight: bold;
}

.article-information .article-information-content .article-by {
    font-weight: bold;
    font-style: oblique;
    padding: 10px 0;
}

.company-page .company-label {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.company-information .button-view-detail {
    text-align: right;
    padding: 20px;
}

.company-page .company-label a {
    color: #428bca;
    font-weight: bold;
}

.company-information .button-view-detail a {
    color: #f19322;
}

.company-information .button-view-detail a:hover, .company-page .company-label a:hover {
    color: rgba(125, 183, 210, 0.84);
}

.contact-page .border-contact {
    padding-left: 15px;
}

.information-contact, .information-order, .information-order {
    padding: 25px 0 10px;
}

.contact-page .border-contact .label-contact {
    font-size: 18px;
    text-transform: uppercase;
    color: #018fcf;
    font-weight: bold;
}

.contact-page .border-contact .name-company-contact {
    font-size: 16px;
    font-weight: bold;
}

.contact-page .border-contact span.title-pre {
    font-weight: bold;
    padding-right: 5px;
}

.contact-page .border-contact .map-detail {
    padding: 10px 0;
}

.where-do-you-go.register-information {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.where-go-label.register-info-title {
    background: #0687c1;
}

.where-do-you-go.register-information .country, .where-do-you-go.register-information .city {
    background: #0687c1;
    margin: 15px;
    overflow: hidden;
    color: #ffffff;
}

.where-do-you-go .label-where {
    width: auto;
    float: left;
    padding: 7px;
}

.where-do-you-go .select-where {
    width: 130px;
    float: right;
}

.where-do-you-go .select-where .form-control {

    color: #fff;
    background-color: #0687c1;
    background-image: none;
    border: none;
    border-radius: 0;
}

.where-do-you-go .search-name-company {
    position: relative;
    margin: 35px 15px;
}

.where-do-you-go .icon-search-company {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 23px;
}

.where-do-you-go .search-name-company input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    box-shadow: none;
}

.company-page .main-content .filter-border {
    margin-top: 0;
}

.filter-border-sub button.btn.btn-default {
    float: right;
    background: #018fcf;
    color: #fff;
    border-radius: 4px;
    padding: 7px 20px;
}

@media only screen and (max-width: 480px) {

}

/** Style login and register popup */
.header-warrap .top-link .header-account {
    font-size: 12px;
}

.header-account .selectric-items {
    top: 25px;
}

.header-account .selectric-items .border-login,.account-daily .selectric-items .border-login{
    width: 315px;
    background: #e6e6e6;
    color: #000000;
    top: 2px;
    padding: 10px;
    position: relative;
    border: 1px solid #dddddd;
}
.account-daily .selectric-items .border-login{
    top: 0;
}
.header-account .selectric-items .close-login, .account-daily .selectric-items .close-login {
    position: absolute;
    right: 0;
}

.header-account .selectric-items .login-form h5,.account-daily .selectric-items h5 {
    /*margin: 0 0 15px;*/
    font-weight: bold;
}

.header-account .selectric-items .form-login,.account-daily .selectric-items .form-logindl {
    text-align: left;
}

.header-account .selectric-items .close-login,
.account-daily .selectric-items .close-login{
    background: url(../image/close.png) 0 no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.header-account .selectric-items .form-login .password,
.account-daily .selectric-items .form-logindl .password{
    margin-bottom: 5px;
}

.header-account .selectric-items .form-login .form-control,
.account-daily .selectric-items .form-logindl .form-control{
    border: 1px solid #bab4b4;
    border-radius: 1px;
}

.header-account .selectric-items .form-login .forgot-password-border,
.account-daily .selectric-items .form-logindl .forgot-password-border{
    text-align: right;
    margin-bottom: 15px;
}

.header-account .selectric-items .form-login .button-login,
.account-daily .selectric-items .form-logindl .button-login{
    width: 50%;
    float: left;
}

.header-account .selectric-items .form-login .button-login button,
.account-daily .selectric-items .form-logindl .button-login button{
    width: 100%;
    border: 1px solid #018fcf;
    background: #018fcf;
    color: #ffffff;
    text-shadow: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
}

.header-account .selectric-items .form-login .login-button-register,
.account-daily .selectric-items .form-logindl .login-button-register{
    padding: 3px 0 0 10px;
}

.header-account .selectric-items .form-login .redirect-register,
.account-daily .selectric-items .form-logindl .redirect-register{
    color: #018fcf;
    text-decoration: underline;
    cursor: pointer;
}

.header-account .selectric-items .form-login .login-button,
.account-daily .selectric-items .form-logindl .login-button{
    position: relative;
    overflow: hidden;
}

.header-account .selectric-items,.account-daily .selectric-items {
    right: 0;
}

.header-account .selectric-items .dieukhoan-border,
.account-daily .selectric-items .dieukhoan-border{
    margin-top: 20px;
    font-size: 10px;
    border-top: 1px solid #c6bdbd;
    padding-top: 15px;
}

.header-account .selectric-items .dieukhoan-border a {
    text-decoration: underline;
}

.header-account .selectric-items .register-form .form-login .button-login,
.account-daily .selectric-items .register-form .form-logindl .button-login{
    width: 100%;
    float: left;
    text-align: center;
    margin: 10px 0;
}

.header-account .selectric-items .required,.account-daily .header-account .selectric-items .required {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

.tab_content-quickview .information-company {
    padding: 15px;
    border: 1px solid #e6e6e659;
    box-shadow: 0 0 71px #cac6c642;
}

.tab_content-quickview .information-company .infor-label {
    font-weight: bold;
    padding-right: 10px;
}

/** Đặt dịch vụ */
.list-tourist .modal-dialog .modal-header {
    text-align: center;
    padding: 5px;
}

.list-tourist .modal-dialog .modal-body .modal-title {
    position: relative;
    padding: 15px;
    color: #426dea;
}

.list-tourist .modal-dialog .modal-body input, .list-tourist .modal-dialog .modal-body textarea {
    border: 1px solid #c6c1c1;
}

.list-tourist .modal-dialog .modal-footer button {
    background: #ffffff;
    color: #1387bbb0;
    font-weight: bold;
    border: 2px solid #0a78a987;
    border-radius: 3px;
}

/** Search */
#formsearchtop .form-group {
    margin-bottom: 0;
}

#formsearchtop #ajax_suggest {
    background: #ffa83f;
    position: absolute;
    z-index: 9;
    width: 93%;
}

#formsearchtop #ajax_suggest .search-suggest-item {
    padding: 10px 5px;
    border-top: 2px solid #ffffff59;
}

#formsearchtop #ajax_suggest .search-suggest-item a {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
}

.search-suggest-item:before {
    content: "•";
    padding-right: 10px;
    color: #ffffff;
    font-size: 17px;
}

.border-contact .form-questions {
    overflow: hidden;
    text-align: center;
    background: #ffffff;
    border: 1px solid #ececdc;
    box-shadow: 0 0 9px #d0cccc;
}

.border-contact .form-questions .title-form-question {
    font-size: 24px;
    font-weight: bold;
    color: #018fcf;
    padding: 15px 0;
    border-bottom: 1px solid #a19898;
    margin: 0 15px 15px;
}

.border-contact .form-questions .form-control {
    color: #000;
    background-color: #def4ff;
    padding: 22px 24px;
}

.border-contact .form-questions .button-form-question {
    width: 100%;
    overflow: hidden;
    text-align: right;
    padding: 10px;
}

.border-contact .form-questions .button-form-question button {
    background: #018fcf;
    font-weight: bold;
    font-size: 15px;
    padding: 6px 24px;
    color: #ffffff;
}

.border-contact .form-questions .question-form {
    padding: 15px;
}

/** Đăng ky dai ly */
.form-dangky-daily {
    /*overflow: hidden;*/
    box-shadow: 2px 1px 11px #a7a7a7;
    position: relative;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin: 30px 0 75px;

}

.form-dangky-daily .dangky-daily-border {
    padding: 15px;
}

.form-dangky-daily .dangki-title {
    background: #018fcf;
    margin: 0;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.form-dangky-daily .dangky-daily-border .form-group {
    overflow: hidden;
    background: #c2ebff;
    border: 2px solid #ffffff;
}

.form-dangky-daily .dangky-daily-border .form-group .flag-icon,
.form-dangky-daily .dangky-daily-border .language-availabel .flag-icon {
    width: 50px;
    float: left;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #ececec;
}

.form-dangky-daily .dangky-daily-border .form-group .flag-icon img,
.form-dangky-daily .dangky-daily-border .language-availabel .flag-icon img {
    width: 100%;
    height: 100%;
}

.form-dangky-daily .dangky-daily-border .form-group .label-dangky,
.form-dangky-daily .dangky-daily-border .language-availabel .label-dangky {
    background: #c2ebff;
    height: 100%;
    padding: 10px 20px 0 0;
}

.dangky-daily-border ul .form-group ul li {
    display: inline-block;
    float: left;
}

.dangky-daily-border ul, .dangky-daily-border li {
    margin: 0;
    padding: 0;
}

.dangky-daily-border ul .form-group ul li.label-dangky {
    width: 30%;
    text-align: right;
    padding-right: 20px;
}

.dangky-daily-border ul .form-group ul li.dangky-content {
    width: 70%;
    padding: 15px;
    background: #def4ff;
    border-left: 4px solid #ffffff;
    position: relative;
}

.dangky-daily-border ul .form-group ul li.dangky-content .humman-person {
    width: 120px;
    float: left;
    background: #97bbdf;
    padding: 10px;
    margin-right: 20px;
    border-radius: 6px;
}

.dangky-daily-border ul .form-group ul li.dangky-content .upload-file {
    position: absolute;
    left: 150px;
    bottom: 15px;
}

.dangky-daily-border ul .form-group ul li.dangky-content .humman-person img {
    width: 100%;
}

.dangky-daily-border ul .form-group ul li.dangky-content textarea, .dangky-daily-border ul .form-group ul li.dangky-content input {
    border: none;
    width: 70%;
}

.dangky-daily-border ul .form-group ul li.dangky-content .company {
    margin-bottom: 10px;
}

.dangky-daily-border .button-dangky-daily {
    position: absolute;
    right: 0;
    bottom: -48px;
}

.dangky-daily-border .button-dangky-daily button {
    background: #018fcf;
    padding: 9px 65px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: none;
    border-radius: 0;
}

.dangky-daily-border .checkbox-button {
    padding: 15px 0;
}

.entertainment-content-detail .price-tour {
    font-size: 22px;
    color: #f19322;
    text-align: center;
}

.entertainment-content-detail .price-tour, .entertainment-content-detail .price-tour,
.entertainment-content-detail .price-currency,
.entertainment-content-detail .button-order-tour {
    text-align: center;
    font-weight: bold;
}

.entertainment-content .entertainment-content-label .short-description .short-information {
    text-transform: none;
    font-size: 14px;
    color: #000000;
}

.entertainment-content-label .short-description .short-information .review-icon {
    font-size: 14px;
}

.entertainment-content-detail .button-order-tour a {
    background: #018fcf;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 3px;
}

.entertainment-content-detail .button-order-tour {
    padding-top: 10px;
}

.entertainment-content-label .review-icon {
    color: #f19322;
    padding: 0 5px;
}

/** form book tour */
.form-book-tour-wapper .title-form-book-tour {
    border-bottom: 1px solid #bbb7b7;
    padding: 10px;
}

.form-book-tour-left, .form-book-tour-right {
    padding: 15px;
}

.form-book-tour-left {
    background: #e9f0fa;
}

.form-book-tour-wapper input {
    border: 1px solid #d2cdcd;
}

.form-book-tour-wapper .form-book-tour-left .name-tour {
    color: #018fcf;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    padding: 10px 0 20px;
}

.form-book-tour-left .time-tour, .form-book-tour-left .price-adults, .form-book-tour-left .price-youth {
    color: #f19322;
    font-weight: bold;
}

.form-book-tour-left .time-tour label, .form-book-tour-left .price-adults label, .form-book-tour-left .price-youth label {
    color: #000000;
    font-weight: 200;
}

.form-book-tour-left .charge-tour .enter-information {
    border: 1px solid #b7aeae;
    border-right: none;
    border-left: none;
    margin: 15px 0;
    padding: 20px 0;
}

.form-book-tour-left .enter-information ul, .form-book-tour-left .enter-information li {
    margin: 0;
    padding: 0;
}

.form-book-tour-left .charge-tour .enter-information li.quanlity li {
    display: inline-block;
    width: 50%;
    float: left;
}

.form-book-tour-left .charge-tour .enter-information li.quanlity {
    padding: 15px 0;
    overflow: hidden;
}

.form-book-tour-left .charge-tour .enter-information li.quanlity li input {
    width: 80px;
    margin-left: 5px;
}

.form-book-tour-left .charge-tour .enter-information .ngay-di input {
    margin-left: 42px;
    width: 64%;
    height: 30px;
}

.form-book-tour-left .charge-tour .sub-total .label {
    float: left;
    color: #000000;
    font-size: 15px;
}

.form-book-tour-left .charge-tour .sub-total .price-sub, .form-book-tour-left .charge-tour .grand-total {
    text-align: right;
    color: #f19322;
    font-weight: bold;
}

.form-book-tour-left .charge-tour .sub-total .price-sub label, .form-book-tour-left .charge-tour .grand-total label {
    color: #000;
}

.form-book-tour-left .charge-tour .grand-total {
    text-align: inherit;
    border-top: 1px solid #adabab;
    padding: 15px 0;
    margin: 15px 0;
}

.form-book-tour-left .charge-tour .grand-total label {
    float: left;
}

.form-book-tour-left .charge-tour .grand-total .price-total-tour {
    text-align: right;
}

.form-book-tour-right .choses-method-pay input {
    margin-left: 10px;
}

.form-book-tour-right .button-form-tour {
    padding: 15px 0;
    text-align: center;
}

.form-book-tour-right .button-form-tour .btn-default {
    width: 48%;
    text-shadow: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.form-book-tour-right .button-form-tour .back-button {
    color: #018fcf;
    background: #bfc3c8;
    padding: 12px;
    margin-right: 3px;
}

.form-book-tour-right .button-form-tour .submit-button {
    background: #018fcf;
    color: #fff;
}

.book-tour-detail .news-page .entertainment-content-detail .entertainment-short-description {
    padding: 0px 0 25px 0;
}

.book-tour-detail .label-tour {
    font-weight: bold;
}

.book-tour-detail .tab_content-quickview {
    padding: 0;
}

.book-tour-detail .information-tour {
    padding: 15px;
}

.book-tour-detail .title-time {
    font-weight: bold;
    color: #f19322;
    text-transform: uppercase;
    padding: 15px 0;
}

.tab-information-manager .avatar {
    position: relative;
    overflow: hidden;
}

.tab-information-manager .image-avatar {
    width: 80px;
    border: 1px solid #ececec;
    padding: 5px;
    border-radius: 5px;
    float: left;
}

.tab-information-manager .image-avatar img {
    width: 100%;
}

.dangbai-daily .main-content .filter-content {
    border: none;
    padding: 20px 0;
}

.tab-information-manager .filter-border-sub {
    padding: 15px;
}

.tab-information-manager .fullname {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 0;
}

.tab-information-manager .logout-dangbai {
    padding: 35px;
}

.dangbai-daily .filter-content ul, .dangbai-daily .filter-content li {
    margin: 0;
}

.dangbai-daily .filter-content li {
    padding: 5px 0;
}

.dangbai-daily .filter-content li a:hover {
    color: #018fcf;
}

.dangbai-daily .filter-content li a {
    font-size: 16px;
}

.dangbai-daily .title-form-book-tour {
    border: none;
}

.dangbai-daily .upload-image {
    position: relative;
    overflow: hidden;
    margin: 10px 0 20px;
}

.dangbai-daily .upload-image .image-upload {
    width: 150px;
    height: 150px;
    float: left;
    padding: 5px;
    border: 1px solid #ececec;
    border-radius: 3px;
}

.dangbai-daily .upload-image .image-upload img {
    width: 100%;
    height: 100%;
}

.dangbai-daily input.button-upload {
    position: absolute;
    left: 170px;
    bottom: 0;
    border: none;
}

.dangbai-daily .form-group.columns {
    padding: 10px;
}

.dangbai-daily .button-form-tour {
    text-align: right;
}

.dangbai-daily .form-book-tour-right .button-form-tour .btn-default {
    padding: 10px 50px;
    width: auto;
}

.entertainment-main.book-food-wapper, .book-food-form-register {
    overflow: hidden;
    padding: 15px;
}

.entertainment-main.book-food-wapper .name-restaurant {
    color: #018fcf;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

.book-food-wapper img {
    width: 100%;
    height: 100%;

}

.book-food-wapper img:hover {
    opacity: 0.75;
}

.book-food-wapper .book-food .item-detail-sub {
    font-weight: bold;
    padding-bottom: 5px;
}

.book-food-wapper .book-food .item-detail-sub span, .book-food-wapper .book-food .item-detail-sub i {
    padding-right: 5px;
}

.book-food-wapper .book-food .item-detail-price-border {
    text-align: center;
}

.book-food-wapper .book-food .item-detail-price-label {
    font-size: 22px;
    font-weight: bold;
}

.book-food-wapper .book-food .item-detail-price.price-not-special {
    font-size: 25px;
    color: #018fcf;
    font-weight: bold;
    padding: 20px 0 5px;
}

.book-food-wapper .book-food-title {
    overflow: hidden;
    padding: 0 0 20px;
}

.book-food-wapper .book-food-left {
    padding: 5px 5px 0 0;
}

.book-food-wapper .book-food-left img {
    height: 90px;
}

.book-food-wapper .book-food-middle img {
    height: 280px;
}

.book-food-wapper .book-food-middle {
    padding: 5px;
}

.book-food-wapper .book-food-content {
    font-weight: bold;
}

.book-food-wapper .form-book-food ul, .book-food-wapper .form-book-food li {
    margin: 0;
    padding: 0;
}

.book-food-wapper .form-book-food li.columns {
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
}

.book-food-wapper .form-book-food li.double-columns li {
    display: inline-block;
    width: 50%;
    float: left;
}

.book-food-wapper .book-food-form-register .label-form-register-food {
    text-align: center;
    font-size: 16px;
    color: #018fcf;
    font-weight: bold;
}

.book-food-wapper .form-book-food li.columns input {
    border: 1px solid #b9b5b5;
}

.book-food-wapper .form-book-food .columns button {
    background: #018fcf;
    color: #ffffff;
    padding: 7px 35px;
    border-radius: 12px;
    width: 100%;
}

.book-food-wapper .form-book-food .columns button:hover {
    background: rgba(1, 143, 207, 0.54);
}

.book-hotel-form .form-book-hotel {
    overflow: hidden;
    float: left;
    width: 100%;
    /*padding: 20px 10px;*/
}

.form-book-hotel .form-info-profile .form-group {
    width: 100%;
}

.form-book-hotel .form-group input {
    border: 1px solid #bfbaba;
}

.form-book-hotel .yes-no label {
    padding: 0 20px;
}

.form-book-hotel .yes-no {
    padding: 20px 0;
}

.form-book-hotel .form-info-profile, .form-book-hotel .form-info-paid {
    padding: 20px 10px;
}

.form-book-hotel .form-info-profile input[type=text], .form-book-hotel .form-info-profile input[type=email],
.form-book-hotel .form-info-profile input[type=tel]{
    width: 50%;
}

.form-book-hotel .form-info-paid {
    background: #e9f0fa;
    overflow: hidden;
    position: relative;
}

.form-book-hotel .form-info-paid .image-payment-method {
    width: 50%;
}

.form-book-hotel .form-info-paid .image-payment-method img {
    width: 100%;
}

.book-hotel-form .main-content .listing-page .list-tourist {
    padding: 0;
    margin-bottom: 53px;
}

.book-hotel-form .item-tourist {
    overflow: hidden;
    padding: 10px;
}

.book-hotel-form .form-info-paid .form-group {
    padding: 20px 0 0;
}

.book-hotel-form .form-info-paid .form-group.number-cart {
    width: 50%;
}

.book-hotel-form .form-info-paid .form-group.deadline label {
    width: 100%;
}

.book-hotel-form .form-info-paid .form-group.deadline input {
    width: 35%;
    float: left;
    margin-right: 20px;
}

.book-hotel-form .button-order-room {
    position: absolute;
    right: 0;
}

.book-hotel-form .button-order-room .btn.btn-default {
    background: #018fcf;
    padding: 10px 60px;
    font-size: 18px;
    color: #ffffff;
}

.book-hotel-form .button-order-room .btn.btn-default:hover {
    background: rgba(1, 143, 207, 0.57);
}

.infor-free ul, .infor-free li {
    margin: 0;
    padding: 0;
}

.infor-free .title {
    color: #018fcf;
}

.infor-free li li {
    display: inline-block;
    padding-right: 20px;
    width: 250px;
    vertical-align: top;
}

.form-book-transport {
    margin: 20px 15px;
    font-weight: bold;
    border-top: 2px solid #cecdcd;
    padding: 15px 0;
}

.form-book-transport h4 {
    color: #018fcf;
}

.form-book-transport .checkbox {
    padding: 20px 0;
}

.form-book-transport .form-group {
    width: 100%;
    overflow: hidden;
}

.form-book-transport .form-group input {
    border: 1px solid #c5c5c5;
    width: 50%;
    float: left;
    border-radius: 0;
}

.form-book-transport input[type=checkbox] {
    margin: 0;
    margin-right: 10px;
    position: relative;
}

.form-book-transport .form-group input.columns {
    width: 22%;
    float: right;
    margin: 0px 8px;
}

.form-book-transport .button-order-xe {
    text-align: right;
}

.form-book-transport .button-order-xe .btn-default {
    color: #ffffff;
    background: #018fcf;
    width: 200px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: none;
}

button#search-list-hotel {
    float: right;
    background: #018fcf;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 5px;
    text-shadow: none;
}

button#search-list-hotel:hover {
    background: rgba(1, 143, 207, 0.75);
}

.language-availabel .selectric-items li.selected.highlighted {
    display: block !important;
}

.language-availabel .selectric-items li, .language-availabel .langague .selectric-items .selectric-scroll ul li {
    height: auto;
    border-top: 1px solid #e9e8e8;
}

.language-availabel .selectric-items li img {
    width: 50px;
    height: 30px;
}

.language-availabel .langague {
    padding: 8px 7px;
    color: #a7a0a0;
    position: relative;
}

.language-availabel .selectric-items {
    left: 0;
    margin: 0 5px;
    right: 0;
}

#btn-search-dropdown {
    width: 148px;
    text-align: center;
    padding: 8px;
    border-radius: 3px;
    position: absolute;
    top: 2px;
    right: 170px;
    cursor: pointer;
    background: #f19322;
    font-size: 16px;
    font-weight: bold;
}

#search_options {
    float: right;
    margin-right: 170px;
    margin-top: 5px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 33px;
}

#search_options #search_option {
    margin: 0;
}

#search_options li {
    cursor: pointer;
}

#search_options li:hover {
    background: rgb(1, 143, 207);
    color: #ffffff;
}

.login-register-page {
    background: #ffffff;
    box-shadow: 0 0 9px #d0cccc;
    border: 1px solid #ececec;
    padding: 15px;
}

.login-register-page .title-page {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.login-register-page .forgot-password {
    text-align: right;
    padding: 0 0 20px;
}

.login-register-page .forgot-password a {
    color: #018fcf;
    font-weight: bold;
}

.login-register-page .button-login button {
    color: #ffffff;
    text-shadow: none;
    background: #018fcf;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}

.register-link, .term-agree {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
}

.register-link a, .term-agree a {
    color: #018fcf;
    text-decoration: underline;
}

#search-list-transport {
    background: #018fcf;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px 10px;
    float: right;
}

.message-error {
    color: red;
    font-size: 16px;
}

.message-success {
    color: #13a33f;
    font-size: 16px;
}

.message-error::before {
    content: "X";
    padding: 0px 4px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background: red;
}

.message-success::before {
    content: "√";
    padding: 5px 7px 1px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background: #13a33f;
}

#btn-search-dropdown option {
    padding: 20px 0;
    line-height: 3;
    min-height: 20px;
    cursor: pointer;
}

#search-list {
    float: right;
    margin: -6px 5px 0;
    border-radius: 5px;
    background: #018fcf;
    color: #ffffff;
}

#loading-image {
    width: 100px;
    height: 100px;
    background-image: url("../image/loading.gif");
    background-size: 100% 100%;
    z-index: 999999;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
}

div.wpcf7-mail-sent-ok {
    float: left;
    text-align: center;
     width: auto;
    background: #398f14;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10em;
}
/*.border-list-item-tourist {*/
    /*overflow: hidden;*/
/*}*/
.book-transport .border-list-item-tourist .review-comment-border {
    background: #e6e6e6;
    box-shadow: 0 0 53px #d4d0d0;
    padding: 15px;
}
#search-list-food,#search-list-tour {
    float: right;
    background: #018fcf;
    color: #ffffff;
    border-radius: 7px;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    float: left;
    background: #f7e700;
    font-weight: bold;
}
.content-area:last-child {
    width: 100%;
    text-align: center;
}
.widget-area:last-child {
    width: 100%;
    text-align: center;
}
.widget_search input.search-field {
    width: 100%;
}
.accordion-quickview {
    background-color: #018fcf;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 1px solid #ffffff;
}
button.accordion-quickview:after {
    content: '\002B';
    color: #ffffff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.quickview-mobile .active {
    background-color: #ccc;
}

.panel-quickview {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.panel-quickview.show-image{
    padding: 2px 0 3px;
}
button:hover, button:active{
    background: #018fcf;
    border-color: #018fcf;
    border-bottom-color: #ffffff;
}
.quickview-mobile .panel-quickview.review-mobile{
    padding: 0;
}
.quickview-mobile .review-comment-border{
    padding: 0;
}
.quickview-mobile .review-comment-border .review-comment-content .review-comment-rating{
    width: 30%;
}
.quickview-mobile .review-comment-border .review-comment-content li.review-comment-description {
    width: 70%;
}
span.wpcf7-list-item {
    margin: 0 0 0 2em;
}
#breadcrumb.custome_breadcrumb{
    border: none;
    background-color: #e6e6e6;
    overflow: hidden;
    margin: 0;
    padding: 15px 1px;
}
#breadcrumb.custome_breadcrumb a{
    color: #018fcf;
    text-decoration: underline;
}
#breadcrumb.custome_breadcrumb a.icon-homepage:after{
    content: none;
}
#breadcrumb.custome_breadcrumb .glyphicon-home{
    color: #018fcf;
    padding-right: 5px;
    top: 2px;
}
body {
    background-color: #e6e6e6;
}
/** responsive  */
@media only screen and (max-width: 991px) {
    #mod-mobile-menu .mobileMain {
        margin: 25px 0 0;
    }

    #mod-mobile-menu .mobileMain > li:first-child a {
        padding: 0;
    }

    #btn-search-dropdown {
        top: 40px;
        right: 0;
        padding: 5px;
    }

    #search_options {
        margin-right: 0;
        right: 0;
        top: 67px;
    }

    .form-dangky-daily .dangky-daily-border li.form-group li:first-child {
        display: none;
    }

    .form-dangky-daily .dangky-daily-border li.form-group li:last-child,
    .dangky-daily-border ul .form-group ul li.dangky-content textarea,
    .dangky-daily-border ul .form-group ul li.dangky-content input,
    .dangky-daily-border .button-dangky-daily,
    .language-availabel .selectric-items li.selected.highlighted {
        width: 100%;
    }

    #search-text-hotel, #search-text-company,#search-text-transport,#search-text-food,#search-text-tour,#search-text-giaitri{
        width: 100% !important;
    }

    .dangky-daily-border .button-dangky-daily {
        right: 15px;
    }

    .dangky-daily-border .checkbox-button {
        text-align: center;
    }

    .dangky-daily-border .button-dangky-daily button {
        width: 100%;
    }

    #mod-mobile-menu .mini-logo-wappar {
        width: 100px;
    }

    .warrp-border-header .search-warrap .label-search {
        text-align: center;
    }

    .nbs-flexisel-nav-right {
        right: 5px;
    }

    .nbs-flexisel-nav-left {
        left: 5px;
    }

    .item-content-section .image-item {
        max-height: 240px;
        width: 100% !important;
        height: 210px;
    }

    .dangky-daily-border .button-dangky-daily {
        padding: 0 15px;
        left: 0;
    }

    .dangky-daily-border ul .form-group ul li.dangky-content .humman-person {
        margin: auto;
        float: none;
        margin-bottom: 20px;
    }

    .dangky-daily-border ul .form-group ul li.dangky-content .upload-file {
        left: inherit;
        bottom: 5px;
        width: 77px;
    }

    ul.tabs-quickview li {
        padding: 0 6px;
    }

    .carousel-inner {
        width: 320px;
    }

    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
        height: 210px;
    }

    .item-list-price-tourist .item-detail-price-border .review {
        padding: 5px 10px;
    }

    .entertainment-page-content .entertainment-main, .entertainment-page-content .entertainment-sub {
        margin: 5px 0;
    }

    .entertainment-content-detail .button-order-tour {
        padding: 10px;
    }

    .blog-page .blog-picture-left-border .blog-picure-image {
        height: 250px;
    }

    .news-page .entertainment-content-detail .entertainment-short-description {
        padding: 0;
    }

    .blog-page .blog-picture-top-border .view-button {
        left: 7px;
        top: 40%;
    }

    .blog-page .blog-picure-image {
        height: 150px;
    }

    .article-information .article-image-border {
        height: 200px;
    }

    .form-dangky-daily .dangky-daily-border .language-availabel {
        background: #c2ebff;
        border: 2px solid #ffffff;
        overflow: inherit;
    }

    .form-dangky-daily .dangki-title {
        font-size: 14px;
    }

    .blog-page {
        padding: 30px 5px;
        overflow: hidden;
    }

    .article-information .article-new ul.article-border > li {
        display: inline;
        width: 100%;
        padding: 10px 0;
    }

    .article-information .article-new ul.article-border > li:first-child {
        border-top: none;
    }

    .article-information .article-new ul.article-border > li:last-child {
        border-top: none;
        border-bottom: 1px solid;
    }

    .list-tourist .modal-dialog .modal-body input, .list-tourist .modal-dialog .modal-body textarea {
        width: 100%;
    }

    .entertainment-page-content {
        padding: 0 15px;
    }

    .product-detail-page, .contact-page {
        margin: 10px;
        overflow: hidden;
    }

    .border-list-item-tourist {
        overflow: hidden;
    }

    .note-bottom {
        text-align: center;
    }

    .login-register-page {
        margin: 0 10px;
    }

    .menu-left-mobile .filter-mobile-wappar {
        display: none;
    }

    #search-text-ticket {
        width: 100% !important;
    }

    .all-province-city {
        display: none;
        background: #106d96;
        position: absolute;
        width: 92%;
        /*display: none;*/
        left: 0;
        z-index: 99;
        box-shadow: 0 0 15px #585757;
        top: 45px;
        margin: 0 16px;
    }

    .all-province-city button {
        float: right;
        margin-right: 10px;
        background: #018fcf;
        padding: 5px 25px;
        border-radius: 5px;
        box-shadow: 0 0 5px #f9f8f8;
        color: #ffffff;
    }

    .all-province-city button:hover {
        color: #fbfbfb;
        font-weight: bold;
    }

    .all-province-city .find-name-ticket {
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        padding: 6px;
        text-transform: uppercase;
        font-weight: bold;
        background: #018fcf;
    }
    .main-content .listing-page .list-tourist {
        padding: 5px 12px;
    }
    .item-list-price-tourist .infor-free{
        padding: 20px;
    }
    .form-book-transport .form-group input.columns {
        width: 100%;
        margin: 5px 0;
    }
    .form-book-transport .form-group input {
        width: 100%;
    }
    .main-content .listing-page .list-tourist {
        padding: 5px 10px;
    }
    .form-book-hotel .form-info-profile input[type=text],
    .form-book-hotel .form-info-profile input[type=email],
    .form-book-hotel .form-info-profile input[type=tel]{
        width: 100%;
    }
    div.wpcf7-response-output {
        margin: 5em 0.5em 1em;
    }
    .contact-page .border-contact {
         padding-left: 0; 
    }
    .entertainment-main.book-food-wapper .book-food-title .book-food {
        margin: 0 15px;
    }
    .image-info-first , .image-info-first img{
        width: 100%;
        padding: 0 0 20px;
    }
}
.transport-page > article.page.type-page.status-publish.hentry{
    background: #e6e6e6;
}