/*!
Theme Name: Base WP
Theme URI: https://iograficathemes.com/wordpress-themes/base-wp/
Author: iografica
Author URI: https://www.iograficathemes.com/
Description: Base WP is a beautiful responsive, elegant and clean coded WordPress theme that can be used for pesonal, business or ecommerce websites. Base WP is e-commerce, multilingual ready, SEO friendly and cross-browser compatible. The theme is fully integrated with the most popular and free Wordpress plugins like WooCommerce, Easy Digital Downloads, Yoast Seo, Beaver Builder, Elementor and much more. You can customize Base WP via the Customizer and use this theme as an ecommerce or as a simple blogging platform.
Version: 2.11
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base-wp
Domain Path: /languages/
Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, footer-widgets, full-width-template, microformats, post-formats, sticky-post, theme-options, threaded-comments, translation-ready, blog, e-commerce

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Base WP is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
/*------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, .woocommerce input.button.alt, .woocommerce button.button.alt,
.woocommerce .button.alt.edd-submit, .woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit, .edd-submit,
#edd-purchase-button,
input[type="submit"].edd-submit,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button, .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, .woocommerce input.button.alt, .woocommerce button.button.alt,
.woocommerce .button.alt.edd-submit, .woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit, .edd-submit,
#edd-purchase-button,
input[type="submit"].edd-submit {
  overflow: visible; }

button, .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, .woocommerce input.button.alt, .woocommerce button.button.alt,
.woocommerce .button.alt.edd-submit, .woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit, .edd-submit,
#edd-purchase-button,
input[type="submit"].edd-submit,
select {
  text-transform: none; }

button, .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, .woocommerce input.button.alt, .woocommerce button.button.alt,
.woocommerce .button.alt.edd-submit, .woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit, .edd-submit,
#edd-purchase-button,
input[type="submit"].edd-submit,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
.woocommerce [disabled].button.alt.edd-submit, .woocommerce a[disabled].button,
.woocommerce button[disabled].button,
.woocommerce input[disabled].button,
.woocommerce #respond input[disabled]#submit, [disabled].edd-submit,
[disabled]#edd-purchase-button,
input[disabled][type="submit"].edd-submit,
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, .woocommerce #respond input#submit.alt::-moz-focus-inner,
.woocommerce a.button.alt::-moz-focus-inner, .woocommerce input.button.alt::-moz-focus-inner, .woocommerce button.button.alt::-moz-focus-inner,
.woocommerce .button.alt.edd-submit::-moz-focus-inner, .woocommerce a.button::-moz-focus-inner,
.woocommerce button.button::-moz-focus-inner,
.woocommerce input.button::-moz-focus-inner,
.woocommerce #respond input#submit::-moz-focus-inner, .edd-submit::-moz-focus-inner,
#edd-purchase-button::-moz-focus-inner,
input[type="submit"].edd-submit::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table, .woocommerce table.shop_attributes,
.woocommerce table.shop_table,
.woocommerce table.my_account_orders, .edd-checkout #edd_checkout_cart {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@media screen and (min-width: 769px) {
  .grid-container {
    content: "";
    display: table;
    table-layout: fixed;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto; }
  .col2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col2:last-child {
      margin-right: 0; }
    .col2:nth-child(2n) {
      margin-right: 0; }
    .col2:nth-child(2n+1) {
      clear: left; }
  .col3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .col3:last-child {
      margin-right: 0; }
    .col3:nth-child(3n) {
      margin-right: 0; }
    .col3:nth-child(3n+1) {
      clear: left; }
  .col4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .col4:last-child {
      margin-right: 0; }
    .col4:nth-child(4n) {
      margin-right: 0; }
    .col4:nth-child(4n+1) {
      clear: left; }
  .omega {
    margin-right: 0; }
  .focused {
    padding-left: 9em;
    padding-right: 9em; } }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@media screen and (min-width: 769px) {
  .site-content {
    content: "";
    display: table;
    table-layout: fixed;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both; }
  .content-area {
    float: left;
    display: block;
    width: 68.23843%; }
    .content-area:last-child {
      width: 65.88078%; }
  .widget-area {
    float: left;
    display: block;
    width: 34.11922%; }
    .widget-area:last-child {
      width: 31.76157%; }
  .sidebar-left .content-area {
    float: left;
    display: block;
    width: 68.23843%;
    float: right; }
    .sidebar-left .content-area:last-child {
      width: 65.88078%; }
  .sidebar-left .widget-area {
    float: left;
    display: block;
    width: 34.11922%;
    float: left; }
    .sidebar-left .widget-area:last-child {
      width: 31.76157%; }
  .page-template-page-focus .content-area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    .page-template-page-focus .content-area:last-child {
      margin-right: 0; }
  .sidebar-left .full-width .content-area,
  .full-width .content-area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%; }
    .sidebar-left .full-width .content-area:last-child,
    .full-width .content-area:last-child {
      margin-right: 0; } }

.site-content {
  margin-top: 0;
  margin-bottom: 0;
  padding: 14px 0 0; }

.page-template-elementor .site-content,
.page-template-beaver-builder .site-content {
  content: "";
  display: table;
  table-layout: fixed;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce input.button.alt,
.woocommerce button.button.alt,
.woocommerce .button.alt.edd-submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.edd-submit,
#edd-purchase-button,
input[type="submit"].edd-submit,
input,
select,
textarea {
  color: #666666;
  font-family: "Open Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400; }

/* Headers */
h1,
h2,
legend,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
  color: #444444;
  font-weight: 400;
  clear: both;
  margin: 0;
  padding: 0; }

h1 a,
h2 a, legend a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  font-weight: inherit; }

h1 {
  font-size: 2.4em; }

h2, legend {
  font-size: 2em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.1em; }

p {
  margin: 0 0 14px;
  padding: 0; }

dfn, cite, em, i {
  font-style: italic; }

address {
  margin: 0 0 1.5em; }

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.7;
  max-width: 100%;
  overflow: auto;
  margin: 0 0 14px;
  padding: 24px; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted rgba(100, 105, 105, 0.1);
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

@font-face {
  font-family: "simple-line-icons";
  src: url("inc/icons/simple-line-icons/Simple-Line-Icons.eot?v=2.4.0");
  src: url("inc/icons/simple-line-icons/Simple-Line-Icons.eot?v=2.4.0#iefix") format("embedded-opentype"), url("inc/icons/simple-line-icons/Simple-Line-Icons.woff2?v=2.4.0") format("woff2"), url("inc/icons/simple-line-icons/Simple-Line-Icons.ttf?v=2.4.0") format("truetype"), url("inc/icons/simple-line-icons/Simple-Line-Icons.woff?v=2.4.0") format("woff"), url("inc/icons/simple-line-icons/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon-user, .icon-people, .icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-login, .icon-logout, .icon-emotsmile, .icon-phone, .icon-call-end, .icon-call-in, .icon-call-out, .icon-map, .icon-location-pin, .icon-direction, .icon-directions, .icon-compass, .icon-layers, .icon-menu, .icon-list, .icon-options-vertical, .icon-options, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-arrow-up, .icon-arrow-up-circle, .icon-arrow-left-circle, .icon-arrow-right-circle, .icon-arrow-down-circle, .icon-check, .icon-clock, .icon-plus, .icon-minus, .icon-close, .icon-event, .icon-exclamation, .icon-organization, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-mustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-disc, .icon-cursor, .icon-cursor-move, .icon-crop, .icon-chemistry, .icon-speedometer, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglass, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-folder-alt, .icon-folder, .icon-film, .icon-feed, .icon-drop, .icon-drawer, .icon-docs, .icon-doc, .icon-diamond, .icon-cup, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-frame, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart, .icon-pencil, .icon-note, .icon-loop, .icon-home, .icon-grid, .icon-graph, .icon-microphone, .icon-music-tone-alt, .icon-music-tone, .icon-earphones-alt, .icon-earphones, .icon-equalizer, .icon-like, .icon-dislike, .icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward, .icon-control-end, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-calendar, .icon-bulb, .icon-chart, .icon-ban, .icon-bubble, .icon-camrecorder, .icon-camera, .icon-cloud-download, .icon-cloud-upload, .icon-envelope, .icon-eye, .icon-flag, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock, .icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip, .icon-paper-plane, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star, .icon-symbol-female, .icon-symbol-male, .icon-target, .icon-credit-card, .icon-paypal, .icon-social-tumblr, .icon-social-twitter, .icon-social-facebook, .icon-social-instagram, .icon-social-linkedin, .icon-social-pinterest, .icon-social-github, .icon-social-google, .icon-social-reddit, .icon-social-skype, .icon-social-dribbble, .icon-social-behance, .icon-social-foursqare, .icon-social-soundcloud, .icon-social-spotify, .icon-social-stumbleupon, .icon-social-youtube, .icon-social-dropbox, .icon-social-vkontakte, .icon-social-steam {
  font-family: "simple-line-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-user:before {
  content: "\e005"; }

.icon-people:before {
  content: "\e001"; }

.icon-user-female:before {
  content: "\e000"; }

.icon-user-follow:before {
  content: "\e002"; }

.icon-user-following:before {
  content: "\e003"; }

.icon-user-unfollow:before {
  content: "\e004"; }

.icon-login:before {
  content: "\e066"; }

.icon-logout:before {
  content: "\e065"; }

.icon-emotsmile:before {
  content: "\e021"; }

.icon-phone:before {
  content: "\e600"; }

.icon-call-end:before {
  content: "\e048"; }

.icon-call-in:before {
  content: "\e047"; }

.icon-call-out:before {
  content: "\e046"; }

.icon-map:before {
  content: "\e033"; }

.icon-location-pin:before {
  content: "\e096"; }

.icon-direction:before {
  content: "\e042"; }

.icon-directions:before {
  content: "\e041"; }

.icon-compass:before {
  content: "\e045"; }

.icon-layers:before {
  content: "\e034"; }

.icon-menu:before {
  content: "\e601"; }

.icon-list:before {
  content: "\e067"; }

.icon-options-vertical:before {
  content: "\e602"; }

.icon-options:before {
  content: "\e603"; }

.icon-arrow-down:before {
  content: "\e604"; }

.icon-arrow-left:before {
  content: "\e605"; }

.icon-arrow-right:before {
  content: "\e606"; }

.icon-arrow-up:before {
  content: "\e607"; }

.icon-arrow-up-circle:before {
  content: "\e078"; }

.icon-arrow-left-circle:before {
  content: "\e07a"; }

.icon-arrow-right-circle:before {
  content: "\e079"; }

.icon-arrow-down-circle:before {
  content: "\e07b"; }

.icon-check:before {
  content: "\e080"; }

.icon-clock:before {
  content: "\e081"; }

.icon-plus:before {
  content: "\e095"; }

.icon-minus:before {
  content: "\e615"; }

.icon-close:before {
  content: "\e082"; }

.icon-event:before {
  content: "\e619"; }

.icon-exclamation:before {
  content: "\e617"; }

.icon-organization:before {
  content: "\e616"; }

.icon-trophy:before {
  content: "\e006"; }

.icon-screen-smartphone:before {
  content: "\e010"; }

.icon-screen-desktop:before {
  content: "\e011"; }

.icon-plane:before {
  content: "\e012"; }

.icon-notebook:before {
  content: "\e013"; }

.icon-mustache:before {
  content: "\e014"; }

.icon-mouse:before {
  content: "\e015"; }

.icon-magnet:before {
  content: "\e016"; }

.icon-energy:before {
  content: "\e020"; }

.icon-disc:before {
  content: "\e022"; }

.icon-cursor:before {
  content: "\e06e"; }

.icon-cursor-move:before {
  content: "\e023"; }

.icon-crop:before {
  content: "\e024"; }

.icon-chemistry:before {
  content: "\e026"; }

.icon-speedometer:before {
  content: "\e007"; }

.icon-shield:before {
  content: "\e00e"; }

.icon-screen-tablet:before {
  content: "\e00f"; }

.icon-magic-wand:before {
  content: "\e017"; }

.icon-hourglass:before {
  content: "\e018"; }

.icon-graduation:before {
  content: "\e019"; }

.icon-ghost:before {
  content: "\e01a"; }

.icon-game-controller:before {
  content: "\e01b"; }

.icon-fire:before {
  content: "\e01c"; }

.icon-eyeglass:before {
  content: "\e01d"; }

.icon-envelope-open:before {
  content: "\e01e"; }

.icon-envelope-letter:before {
  content: "\e01f"; }

.icon-bell:before {
  content: "\e027"; }

.icon-badge:before {
  content: "\e028"; }

.icon-anchor:before {
  content: "\e029"; }

.icon-wallet:before {
  content: "\e02a"; }

.icon-vector:before {
  content: "\e02b"; }

.icon-speech:before {
  content: "\e02c"; }

.icon-puzzle:before {
  content: "\e02d"; }

.icon-printer:before {
  content: "\e02e"; }

.icon-present:before {
  content: "\e02f"; }

.icon-playlist:before {
  content: "\e030"; }

.icon-pin:before {
  content: "\e031"; }

.icon-picture:before {
  content: "\e032"; }

.icon-handbag:before {
  content: "\e035"; }

.icon-globe-alt:before {
  content: "\e036"; }

.icon-globe:before {
  content: "\e037"; }

.icon-folder-alt:before {
  content: "\e039"; }

.icon-folder:before {
  content: "\e089"; }

.icon-film:before {
  content: "\e03a"; }

.icon-feed:before {
  content: "\e03b"; }

.icon-drop:before {
  content: "\e03e"; }

.icon-drawer:before {
  content: "\e03f"; }

.icon-docs:before {
  content: "\e040"; }

.icon-doc:before {
  content: "\e085"; }

.icon-diamond:before {
  content: "\e043"; }

.icon-cup:before {
  content: "\e044"; }

.icon-calculator:before {
  content: "\e049"; }

.icon-bubbles:before {
  content: "\e04a"; }

.icon-briefcase:before {
  content: "\e04b"; }

.icon-book-open:before {
  content: "\e04c"; }

.icon-basket-loaded:before {
  content: "\e04d"; }

.icon-basket:before {
  content: "\e04e"; }

.icon-bag:before {
  content: "\e04f"; }

.icon-action-undo:before {
  content: "\e050"; }

.icon-action-redo:before {
  content: "\e051"; }

.icon-wrench:before {
  content: "\e052"; }

.icon-umbrella:before {
  content: "\e053"; }

.icon-trash:before {
  content: "\e054"; }

.icon-tag:before {
  content: "\e055"; }

.icon-support:before {
  content: "\e056"; }

.icon-frame:before {
  content: "\e038"; }

.icon-size-fullscreen:before {
  content: "\e057"; }

.icon-size-actual:before {
  content: "\e058"; }

.icon-shuffle:before {
  content: "\e059"; }

.icon-share-alt:before {
  content: "\e05a"; }

.icon-share:before {
  content: "\e05b"; }

.icon-rocket:before {
  content: "\e05c"; }

.icon-question:before {
  content: "\e05d"; }

.icon-pie-chart:before {
  content: "\e05e"; }

.icon-pencil:before {
  content: "\e05f"; }

.icon-note:before {
  content: "\e060"; }

.icon-loop:before {
  content: "\e064"; }

.icon-home:before {
  content: "\e069"; }

.icon-grid:before {
  content: "\e06a"; }

.icon-graph:before {
  content: "\e06b"; }

.icon-microphone:before {
  content: "\e063"; }

.icon-music-tone-alt:before {
  content: "\e061"; }

.icon-music-tone:before {
  content: "\e062"; }

.icon-earphones-alt:before {
  content: "\e03c"; }

.icon-earphones:before {
  content: "\e03d"; }

.icon-equalizer:before {
  content: "\e06c"; }

.icon-like:before {
  content: "\e068"; }

.icon-dislike:before {
  content: "\e06d"; }

.icon-control-start:before {
  content: "\e06f"; }

.icon-control-rewind:before {
  content: "\e070"; }

.icon-control-play:before {
  content: "\e071"; }

.icon-control-pause:before {
  content: "\e072"; }

.icon-control-forward:before {
  content: "\e073"; }

.icon-control-end:before {
  content: "\e074"; }

.icon-volume-1:before {
  content: "\e09f"; }

.icon-volume-2:before {
  content: "\e0a0"; }

.icon-volume-off:before {
  content: "\e0a1"; }

.icon-calendar:before {
  content: "\e075"; }

.icon-bulb:before {
  content: "\e076"; }

.icon-chart:before {
  content: "\e077"; }

.icon-ban:before {
  content: "\e07c"; }

.icon-bubble:before {
  content: "\e07d"; }

.icon-camrecorder:before {
  content: "\e07e"; }

.icon-camera:before {
  content: "\e07f"; }

.icon-cloud-download:before {
  content: "\e083"; }

.icon-cloud-upload:before {
  content: "\e084"; }

.icon-envelope:before {
  content: "\e086"; }

.icon-eye:before {
  content: "\e087"; }

.icon-flag:before {
  content: "\e088"; }

.icon-heart:before {
  content: "\e08a"; }

.icon-info:before {
  content: "\e08b"; }

.icon-key:before {
  content: "\e08c"; }

.icon-link:before {
  content: "\e08d"; }

.icon-lock:before {
  content: "\e08e"; }

.icon-lock-open:before {
  content: "\e08f"; }

.icon-magnifier:before {
  content: "\e090"; }

.icon-magnifier-add:before {
  content: "\e091"; }

.icon-magnifier-remove:before {
  content: "\e092"; }

.icon-paper-clip:before {
  content: "\e093"; }

.icon-paper-plane:before {
  content: "\e094"; }

.icon-power:before {
  content: "\e097"; }

.icon-refresh:before {
  content: "\e098"; }

.icon-reload:before {
  content: "\e099"; }

.icon-settings:before {
  content: "\e09a"; }

.icon-star:before {
  content: "\e09b"; }

.icon-symbol-female:before {
  content: "\e09c"; }

.icon-symbol-male:before {
  content: "\e09d"; }

.icon-target:before {
  content: "\e09e"; }

.icon-credit-card:before {
  content: "\e025"; }

.icon-paypal:before {
  content: "\e608"; }

.icon-social-tumblr:before {
  content: "\e00a"; }

.icon-social-twitter:before {
  content: "\e009"; }

.icon-social-facebook:before {
  content: "\e00b"; }

.icon-social-instagram:before {
  content: "\e609"; }

.icon-social-linkedin:before {
  content: "\e60a"; }

.icon-social-pinterest:before {
  content: "\e60b"; }

.icon-social-github:before {
  content: "\e60c"; }

.icon-social-google:before {
  content: "\e60d"; }

.icon-social-reddit:before {
  content: "\e60e"; }

.icon-social-skype:before {
  content: "\e60f"; }

.icon-social-dribbble:before {
  content: "\e00d"; }

.icon-social-behance:before {
  content: "\e610"; }

.icon-social-foursqare:before {
  content: "\e611"; }

.icon-social-soundcloud:before {
  content: "\e612"; }

.icon-social-spotify:before {
  content: "\e613"; }

.icon-social-stumbleupon:before {
  content: "\e614"; }

.icon-social-youtube:before {
  content: "\e008"; }

.icon-social-dropbox:before {
  content: "\e00c"; }

.icon-social-vkontakte:before {
  content: "\e618"; }

.icon-social-steam:before {
  content: "\e620"; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
  overflow-x: hidden; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fafafa;
  /* Fallback for when there is no custom background color defined. */
  overflow-x: hidden; }

blockquote {
  quotes: "" "";
  border-left: 4px solid;
  margin: 0 0 14px;
  padding: 14px; }
  blockquote p {
    margin: 0; }

q {
  quotes: "" "";
  font-style: italic; }

hr {
  background-color: rgba(100, 105, 105, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 24px; }

ul, ol {
  margin: 0 0 14px 24px;
  padding: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin: 0 0 0 24px;
  padding: 0; }

dt {
  font-weight: 700; }

dd {
  margin: 0;
  padding: 0; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle; }

table, .woocommerce table.shop_attributes,
.woocommerce table.shop_table,
.woocommerce table.my_account_orders, .edd-checkout #edd_checkout_cart {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin-bottom: 14px; }
  table th, .woocommerce table.shop_attributes th,
  .woocommerce table.shop_table th,
  .woocommerce table.my_account_orders th, .edd-checkout #edd_checkout_cart th {
    margin: 0;
    padding: 14px 7px;
    text-align: left; }
  table td, .woocommerce table.shop_attributes td,
  .woocommerce table.shop_table td,
  .woocommerce table.my_account_orders td, .edd-checkout #edd_checkout_cart td {
    margin: 0;
    padding: 7px; }

.format-quote .entry-title:before,
.format-video .entry-title:before,
.format-image .entry-title:before,
.format-link .entry-title:before,
.format-gallery .entry-title:before,
.format-audio .entry-title:before,
.format-status .entry-title:before,
.format-chat .entry-title:before,
.sticky .entry-title:before {
  font-family: 'simple-line-icons';
  font-size: 18px;
  width: 28px;
  width: 30px;
  height: 30px;
  line-height: 48px;
  text-align: center;
  float: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.format-quote .entry-title:before {
  content: "\e02c"; }

.format-video .entry-title:before {
  content: "\e03a"; }

.format-image .entry-title:before {
  content: "\e07f"; }

.format-link .entry-title:before {
  content: "\e08d"; }

.format-gallery .entry-title:before {
  content: "\e034"; }

.format-audio .entry-title:before {
  content: "\e061"; }

.format-status .entry-title:before {
  content: "\e021"; }

.format-chat .entry-title:before {
  content: "\e04a"; }

.sticky .entry-title:before {
  content: "\e031"; }

/***
.widget_archive h3.widget-title:before, .widget_calendar h3.widget-title:before,
.widget_categories h3.widget-title:before, .widget_igthemes_recent_posts_widget h3.widget-title:before,
.widget_meta h3.widget-title:before, .widget_nav_menu h3.widget-title:before,
.widget_recent_comments h3.widget-title:before, .widget_recent_entries h3.widget-title:before,
.widget_search h3.widget-title:before, .widget_tag_cloud h3.widget-title:before,
.widget_text h3.widget-title:before {
    font-family: 'simple-line-icons';
    margin-right: 5px;
}
//icons
.widget_archive h3.widget-title:before {
    content: "\e03f";
}

.widget_categories h3.widget-title:before {
    content: "\e039";
}

.widget_recent_comments h3.widget-title:before {
    content: "\e04a";
}

.widget_recent_entries h3.widget-title:before {
    content: "\e085";
}

.widget_calendar h3.widget-title:before {
    content: "\e075";
}

.widget_nav_menu h3.widget-title:before {
    content: "\e08d";
}

.widget_tag_cloud h3.widget-title:before {
    content: "\e055";
}

.widget_search h3.widget-title:before {
    content: "\e090";
}

.widget_text h3.widget-title:before {
    content: "\e060";
}
**/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, .woocommerce input.button.alt, .woocommerce button.button.alt,
.woocommerce .button.alt.edd-submit, .woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit, .edd-submit,
#edd-purchase-button,
input[type="submit"].edd-submit,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  /*border-color: #ff6633;*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ff6633;
  color: #ffffff;
  box-shadow: none;
  line-height: 1.7;
  margin: 0;
  padding: 7px 14px;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  button:hover,
  .woocommerce .button.alt.edd-submit:hover, .woocommerce a.button:hover,
  .woocommerce button.button:hover,
  .woocommerce input.button:hover,
  .woocommerce #respond input#submit:hover, .edd-submit:hover,
  #edd-purchase-button:hover,
  input[type="submit"].edd-submit:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    background: #ff5533;
    border-color: #ff5533;
    box-shadow: none;
    color: #ffffff; }
  button:active,
  .woocommerce .button.alt.edd-submit:active, .woocommerce a.button:active,
  .woocommerce button.button:active,
  .woocommerce input.button:active,
  .woocommerce #respond input#submit:active, .edd-submit:active,
  #edd-purchase-button:active,
  input[type="submit"].edd-submit:active, button:focus,
  .woocommerce .button.alt.edd-submit:focus, .woocommerce a.button:focus,
  .woocommerce button.button:focus,
  .woocommerce input.button:focus,
  .woocommerce #respond input#submit:focus, .edd-submit:focus,
  #edd-purchase-button:focus,
  input[type="submit"].edd-submit:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #ff5533;
    box-shadow: none;
    color: #ffffff; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  padding: 7px 14px;
  line-height: 1.7; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    outline-color: transparent;
    outline-style: none; }

select {
  padding: 7px 14px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

input[type="search"] {
  -webkit-appearance: none; }

label {
  font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
  font-size: 12px;
  color: #444444;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding: 0;
  width: auto; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #444444;
  text-decoration: none;
  font-weight: 400; }
  a:visited {
    color: #444444; }
  a:hover, a:focus, a:active {
    color: #ff6633; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@media screen and (min-width: 769px) {
  .main-navigation ul {
    display: none;
    list-style: none; }
    .main-navigation ul li {
      *float: left;
      display: inline-block;
      position: relative; }
      .main-navigation ul li a {
        display: block;
        margin: 0;
        padding: 19px 14px; }
    .main-navigation ul ul {
      padding: 0; }
      .main-navigation ul ul:after {
        content: none; }
      .main-navigation ul ul li a {
        width: 200px;
        padding: 14px; }
      .main-navigation ul ul .menu-item-has-children > a:after {
        font-family: 'simple-line-icons';
        content: "\e606";
        position: relative;
        float: right;
        opacity: 0.5;
        filter: alpha(opacity=50); }
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

@media screen and (max-width: 768px) {
  .main-navigation {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0 24px; }
    .main-navigation ul {
      text-align: left;
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      border-right: 1px solid rgba(100, 105, 105, 0.1);
      border-left: 1px solid rgba(100, 105, 105, 0.1);
      border-bottom: 1px solid rgba(100, 105, 105, 0.1); }
      .main-navigation ul li {
        margin: 0;
        padding: 0; }
        .main-navigation ul li a {
          display: block;
          margin: 0;
          padding: 14px;
          border-top: 1px solid rgba(100, 105, 105, 0.1); }
      .main-navigation ul ul {
        margin: 0;
        padding: 0;
        border: none; }
        .main-navigation ul ul li {
          margin: 0;
          padding: 0; }
          .main-navigation ul ul li a {
            width: 100%; }
      .main-navigation ul .menu-item-has-children > a:after {
        font-family: 'simple-line-icons';
        content: "\e604";
        position: relative;
        float: right;
        opacity: 0.5;
        filter: alpha(opacity=50); }
  /* Small menu. */
  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
    margin-bottom: 24px; }
    .menu-toggle ul,
    .main-navigation.toggled ul ul {
      margin: 0; }
  .main-navigation ul {
    display: none; }
  .menu-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 1em;
    margin: 0;
    padding: 14px;
    background: none;
    border: none; }
    .menu-toggle:hover {
      background: none; } }

@media screen and (min-width: 769px) {
  .site-header .header-content .header-nav.center {
    margin: 0 -99em;
    padding: 0 99em;
    clear: both; }
    .site-header .header-content .header-nav.center ul {
      list-style: none;
      text-align: center;
      margin: 0 24px; }
      .site-header .header-content .header-nav.center ul li {
        *display: inline;
        display: inline-block; }
        .site-header .header-content .header-nav.center ul li a {
          display: block;
          padding: 14px; }
  .main-navigation.center {
    margin: 0 -99em;
    padding: 0 99em; }
    .main-navigation.center ul {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      text-align: center; }
      .main-navigation.center ul li:hover > ul,
      .main-navigation.center ul li.focus > ul {
        left: 0;
        right: auto; }
      .main-navigation.center ul ul {
        text-align: left;
        float: left;
        position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999; }
        .main-navigation.center ul ul:after {
          content: none; }
        .main-navigation.center ul ul li:hover > ul,
        .main-navigation.center ul ul li.focus > ul {
          left: 100%;
          width: 100%;
          margin-top: 0; }
        .main-navigation.center ul ul ul {
          left: -999em;
          top: 0; } }

@media screen and (max-width: 768px) {
  .header-nav.center ul {
    list-style: none;
    text-align: center;
    margin: 0 24px; }
    .header-nav.center ul li {
      *display: inline;
      display: inline-block; }
      .header-nav.center ul li a {
        display: block;
        padding: 14px; }
  .header-nav.center .site-description {
    display: block;
    padding: 14px; }
  .main-navigation.center {
    text-align: center; }
  /* Small menu. */
  .center .menu-toggle {
    margin: 0 auto; } }

@media screen and (min-width: 769px) {
  .site-header .header-content .site-branding.inline {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 24px;
    float: left; }
    .site-header .header-content .site-branding.inline:last-child {
      margin-right: 0; }
  .site-header .header-content .header-nav.inline {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    float: right;
    background: none;
    padding: 36px 24px; }
    .site-header .header-content .header-nav.inline:last-child {
      margin-right: 0; }
    .site-header .header-content .header-nav.inline ul {
      list-style: none;
      text-align: right;
      padding: 0;
      margin: 0; }
      .site-header .header-content .header-nav.inline ul li {
        *display: inline;
        display: inline-block; }
        .site-header .header-content .header-nav.inline ul li a {
          display: block;
          padding: 24px 0 24px 14px; }
    .site-header .header-content .header-nav.inline .site-description {
      display: block;
      padding: 14px 14px 14px 0;
      float: left; }
  .main-navigation.inline {
    margin: 0 -99em;
    padding: 0 99em;
    clear: both; }
    .main-navigation.inline ul {
      margin: 0;
      text-align: center; }
      .main-navigation.inline ul li:hover > ul,
      .main-navigation.inline ul li.focus > ul {
        left: 0;
        right: auto; }
      .main-navigation.inline ul ul {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        float: left;
        position: absolute;
        top: 100%;
        right: -999em;
        z-index: 99999;
        text-align: left; }
        .main-navigation.inline ul ul li:hover > ul,
        .main-navigation.inline ul ul li.focus > ul {
          left: 100%;
          width: 100%;
          top: 0;
          margin-top: 0; }
        .main-navigation.inline ul ul .menu-item-has-children > a:after {
          font-family: 'simple-line-icons';
          content: "\e606";
          position: relative;
          float: right;
          opacity: 0.5;
          filter: alpha(opacity=50); } }

@media screen and (max-width: 768px) {
  .site-branding.inline {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 24px;
    margin: 0;
    float: left; }
    .site-branding.inline:last-child {
      margin-right: 0; }
  .header-nav.inline {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 0;
    background: none; }
    .header-nav.inline:last-child {
      margin-right: 0; }
    .header-nav.inline ul {
      list-style: none;
      margin: 24px 0 0 24px; }
      .header-nav.inline ul li {
        *display: inline;
        display: inline-block; }
        .header-nav.inline ul li a {
          display: block;
          margin: 0 14px 0 0; } }

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 24px 0;
  padding: 0;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  padding: 14px 24px;
  float: left;
  width: 50%; }
  .comment-navigation .nav-previous a:before,
  .posts-navigation .nav-previous a:before,
  .post-navigation .nav-previous a:before {
    font-family: 'simple-line-icons';
    content: '\e605';
    margin-right: 10px;
    vertical-align: middle;
    font-size: .9em; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  padding: 14px 24px;
  float: right;
  text-align: right;
  width: 50%; }
  .comment-navigation .nav-next a:after,
  .posts-navigation .nav-next a:after,
  .post-navigation .nav-next a:after {
    font-family: 'simple-line-icons';
    content: '\e606';
    margin-left: 10px;
    vertical-align: middle;
    font-size: .9em; }

.pagination {
  clear: both; }

ul.page-numbers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  clear: both;
  border-right: none; }
  ul.page-numbers li {
    display: inline-block;
    float: left;
    margin: 0 -1px 0 0; }
    ul.page-numbers li .dots,
    ul.page-numbers li .current,
    ul.page-numbers li .breadcrumb a, .breadcrumb
    ul.page-numbers li a,
    ul.page-numbers li a {
      display: block;
      text-decoration: none;
      padding: 7px 14px; }

.page-links {
  border: 1px solid rgba(100, 105, 105, 0.1);
  display: inline-block; }
  .page-links .page-links-title,
  .page-links .num, .page-links .page-links-title {
    float: left;
    text-decoration: none;
    padding: 7px 14px;
    border-left: 1px solid rgba(100, 105, 105, 0.1);
    background: rgba(255, 255, 255, 0.1); }
  .page-links .page-links-title {
    border-left: none;
    background: rgba(150, 155, 155, 0.1); }

/*--------------------------------------------------------------
## Breadcrumb
--------------------------------------------------------------*/
.breadcrumb {
  display: block;
  margin: 36px 24px 24px;
  padding: 14px 24px; }
  .breadcrumb .current, .breadcrumb a {
    padding: 0;
    display: inline-block; }
  .breadcrumb a::after {
    content: "/";
    margin: 0 5px; }
  .breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block; }
    .breadcrumb ul li {
      display: inline-block; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #fafafa;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #666666;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 14px; }

.alignright {
  display: inline;
  float: right;
  margin-left: 14px; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
h3.widget-title {
  margin-top: -14px;
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: 14px;
  padding: 14px; }

.widget-area {
  padding: 24px; }

.widget {
  margin: 0 0 24px;
  padding: 14px;
  position: relative;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }
  .widget ul {
    list-style: none;
    margin: 0; }
    .widget ul li {
      padding: 7px 14px;
      margin-left: -14px;
      margin-right: -14px;
      border-top: 1px solid rgba(100, 105, 105, 0.1); }
      .widget ul li:first-child {
        border-top: none; }
      .widget ul li a {
        display: block; }
      .widget ul li ul li {
        margin: 0;
        padding: 0; }

.header-widget-region {
  margin-top: 0;
  margin-bottom: 0;
  padding: 24px 24px 0;
  display: inline-block;
  width: 100%; }
  .header-widget-region:empty {
    display: none; }

.footer-widget-region {
  margin-top: 0;
  margin-bottom: 0;
  padding: 24px;
  width: 100%; }

.widget_nav_menu ul .menu-item-has-children {
  padding: 0; }
  .widget_nav_menu ul .menu-item-has-children a {
    padding: 14px; }
  .widget_nav_menu ul .menu-item-has-children li {
    border-top: 1px solid rgba(150, 155, 155, 0.1); }

.widget_tag_cloud a {
  font-size: 9pt !important;
  background: rgba(150, 155, 155, 0.1);
  margin: 2px 0 2px 2px;
  padding: 4px 8px;
  display: inline-block; }

.widget_search input.search-field {
  width: 50%; }

.widget select {
  max-width: 100%; }

.ig-recent-posts-widget .post-image {
  float: left;
  margin: 0 10px 5px 0;
  width: 50px;
  height: auto; }

.ig-recent-posts-widget .post-date,
.ig-recent-posts-widget .post-excerpt {
  font-size: .9em; }

.ig-recent-posts-widget .post-excerpt {
  display: block; }

.ig-social-widget a {
  display: block;
  margin: 5px 0;
  padding: 8px 10px;
  color: #fff !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .ig-social-widget a .text {
    margin-left: 10px; }
  .ig-social-widget a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8; }

.ig-social-widget .facebook {
  background: #3b5998;
  border-color: #344e86; }

.ig-social-widget .twitter {
  background: #55acee;
  border-color: #3ea1ec; }

.ig-social-widget .google {
  background: #dd4b39;
  border-color: #d73925; }

.ig-social-widget .youtube {
  background: #cd201f;
  border-color: #b71d1c; }

.ig-social-widget .linkedin {
  background: #007bb5;
  border-color: #006a9c; }

.ig-social-widget .instagram {
  background: #e4405f;
  border-color: #e12a4c; }

.ig-social-widget .pinterest {
  background: #cb2027;
  border-color: #b51d23; }

.ig-social-widget .tumblr {
  background: #32506d;
  border-color: #2a435c; }

.ig-social-widget .dribbble {
  background: #ea4c89;
  border-color: #e7357a; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header:after {
  width: 100%;
  display: block;
  content: "";
  float: left;
  height: 5px;
  background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(0, 0, 0, 0.1), rgba(97, 97, 97, 0) 40%);
  background: radial-gradient(ellipse at 50% 0%, rgba(0, 0, 0, 0.1), rgba(97, 97, 97, 0) 80%); }

.site-header .header-content {
  content: "";
  display: table;
  table-layout: fixed;
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .site-header .header-content .site-branding.center {
    text-align: center;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 0;
    padding: 24px;
    float: none; }
    .site-header .header-content .site-branding.center:last-child {
      margin-right: 0; }
  .site-header .header-content .site-branding .site-title {
    margin: 0;
    padding: 0; }
    .site-header .header-content .site-branding .site-title a {
      margin: 0;
      padding: 0;
      display: block;
      font-weight: 400; }
  .site-header .header-content .site-branding .site-description {
    margin: 0;
    padding: 0;
    font-weight: 300; }
  .site-header .header-content .site-branding .custom-logo {
    margin: 0;
    padding: 0; }
  .site-header .header-content .header-nav.center {
    margin-right: -999em;
    margin-left: -999em;
    padding-right: 999em;
    padding-left: 999em; }
    .site-header .header-content .header-nav.center ul {
      list-style: none;
      text-align: center;
      margin: 0; }
      .site-header .header-content .header-nav.center ul li {
        *display: inline;
        display: inline-block; }
        .site-header .header-content .header-nav.center ul li a {
          display: block;
          padding: 14px; }

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
  background: #ffffff; }
  .site-footer:before {
    width: 100%;
    display: block;
    content: "";
    float: left;
    height: 5px;
    background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(0, 0, 0, 0.1), rgba(97, 97, 97, 0) 40%);
    background: radial-gradient(ellipse at 50% 0%, rgba(0, 0, 0, 0.1), rgba(97, 97, 97, 0) 80%); }
  .site-footer .scroll-top,
  .site-footer .social-url {
    clear: both;
    display: block;
    text-align: center;
    margin: 0; }
  .site-footer .site-info, .site-footer .footer-text {
    text-align: center;
    margin: 24px;
    padding: 0; }
  .site-footer .footer-text {
    margin: 0;
    padding: 0; }
  .site-footer .scroll-top {
    text-align: center;
    padding: 0; }
    .site-footer .scroll-top #scrolltop {
      border: 1px solid rgba(100, 105, 105, 0.1);
      font-size: 17.6px;
      font-size: 1.1rem;
      padding: 5px 10px;
      display: inline-block; }
  .site-footer .social-url a {
    font-size: 17.6px;
    font-size: 1.1rem;
    vertical-align: middle;
    margin: 0;
    padding: 14px 7px;
    display: inline-block; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/*-----------------------------
# Singular
------------------------------*/
.content-area {
  padding: 24px; }

.entry-title {
  margin: 14px 0 0;
  padding: 0; }

.page .entry-meta {
  display: none; }

.entry-meta {
  display: inline-block;
  width: 100%;
  clear: both;
  margin: 0;
  padding: 0; }
  .entry-meta:empty {
    display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.entry-footer {
  padding: 24px;
  margin-bottom: -24px;
  margin-right: -24px;
  margin-left: -24px; }
  .entry-footer .tags-links {
    margin-right: 14px; }
  .entry-footer .cat-links {
    margin-right: 14px; }
  .entry-footer .comments-link {
    margin-right: 14px; }
  .entry-footer:empty {
    display: none; }

.entry-image {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px; }

.featured-img a {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px;
  margin-bottom: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
  padding: 14px 0; }

.page-links {
  clear: both;
  margin: 0 0 14px; }

/*-----------------------------
# Posts format
------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

.format-chat .entry-content {
  margin: 0;
  padding: 0; }

/*-----------------------------
# Archives page
------------------------------*/
.hentry {
  margin-top: 0;
  margin-bottom: 24px;
  padding: 24px;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05); }

.updated:not(.published) {
  display: none; }

.page-header {
  margin: 0;
  padding: 24px 24px 0; }

.entry-meta:empty {
  display: none; }

/*-----------------------------
# Home
------------------------------*/
.home .testimonials,
.home .portfolio {
  display: inline-block;
  text-align: center;
  margin: 24px;
  padding: 24px;
  clear: both;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05); }
  .home .testimonials h2.title, .home .testimonials legend.title,
  .home .portfolio h2.title,
  .home .portfolio legend.title {
    background: none !important; }

.home .testimonials .ig-testimonials-page {
  display: inline-block;
  clear: both;
  margin-top: 14px; }

.home .testimonials .ig-testimonials {
  text-align: left;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .home .testimonials .ig-testimonials:last-child {
    margin-right: 0; }
  .home .testimonials .ig-testimonials:nth-child(2n) {
    margin-right: 0; }
  .home .testimonials .ig-testimonials:nth-child(2n+1) {
    clear: left; }

.home .testimonials .page-numbers {
  display: none; }

.home .portfolio .ig-portfolio-gallery {
  display: inline-block;
  margin-top: 14px; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.comments-area {
  margin: 24px 0;
  padding: 0; }
  .comments-area .comment-reply-title {
    font-weight: 400; }
  .comments-area .comment-list {
    margin-left: 0; }
    .comments-area .comment-list .children {
      margin: 0 0 0 48px;
      padding: 0;
      position: relative; }
      .comments-area .comment-list .children:before {
        font-family: 'simple-line-icons';
        content: "\e051";
        transform: rotate(-90deg) scale(1) skew(1deg) translate(0px);
        -webkit-transform: rotate(-90deg) scale(1) skew(1deg) translate(0px);
        -moz-transform: rotate(-90deg) scale(1) skew(1deg) translate(0px);
        -o-transform: rotate(-90deg) scale(1) skew(1deg) translate(0px);
        -ms-transform: rotate(-90deg) scale(1) skew(1deg) translate(0px);
        position: absolute;
        left: -30px;
        top: 5px; }
    .comments-area .comment-list .comment {
      list-style: none;
      margin: 24px 0;
      padding: 0; }
      .comments-area .comment-list .comment .comment-content {
        margin: 0;
        padding: 14px; }
      .comments-area .comment-list .comment .reply {
        margin: 14px;
        padding: 0;
        text-align: right;
        text-transform: lowercase; }
        .comments-area .comment-list .comment .reply:after {
          font-family: 'simple-line-icons';
          content: '\e606';
          margin-left: 5px;
          font-size: .6em; }
      .comments-area .comment-list .comment .comment-meta {
        padding: 14px; }
        .comments-area .comment-list .comment .comment-meta .comment-author .avatar {
          margin: 5px 10px 5px 0;
          padding: 0;
          float: left; }
        .comments-area .comment-list .comment .comment-meta .comment-metadata a {
          clear: right; }
  .comments-area .comment-respond {
    margin: 24px 0; }
  .comments-area .comment-form-author label,
  .comments-area .comment-form-email label,
  .comments-area .comment-form-url label {
    min-width: 60px;
    display: inline-block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 0;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0;
    padding: 14px; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin: 0;
  padding: 0; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-item img {
    margin: 0;
    padding: 0; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# WoooCommerce
--------------------------------------------------------------*/
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, .woocommerce #respond input.button.alt#submit, .woocommerce a.button.alt, .woocommerce input.button.alt, .woocommerce button.button.alt,
.woocommerce .button.alt.edd-submit,
.woocommerce
.button.alt#edd-purchase-button,
.woocommerce input.button.alt {
  font-size: 1em; }

.woocommerce a.button, .woocommerce #respond input.button.alt#submit, .woocommerce a.button.alt, .woocommerce input.button.alt, .woocommerce button.button.alt,
.woocommerce .button.alt.edd-submit,
.woocommerce
.button.alt#edd-purchase-button, .woocommerce a.button.alt, .woocommerce input.button.alt, .woocommerce button.button.alt, .woocommerce .button.alt.edd-submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input.button#submit,
.woocommerce .button.edd-submit,
.woocommerce
.button#edd-purchase-button,
.woocommerce input.button,
.woocommerce #respond input#submit {
  background-color: #ff6633;
  color: #fff;
  -webkit-appearance: none; }
  .woocommerce a.button:hover, .woocommerce #respond input.button.alt#submit:hover, .woocommerce a.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce button.button.alt:hover,
  .woocommerce .button.alt.edd-submit:hover,
  .woocommerce
  .button.alt#edd-purchase-button:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input.button#submit:hover,
  .woocommerce .button.edd-submit:hover,
  .woocommerce
  .button#edd-purchase-button:hover,
  .woocommerce input.button:hover,
  .woocommerce #respond input#submit:hover {
    background-color: #ff5533;
    border-color: #ff5533;
    box-shadow: none;
    color: #fff; }
  .woocommerce a.button:active, .woocommerce a.button:focus, .woocommerce #respond input.button.alt#submit:active, .woocommerce a.button.alt:active, .woocommerce input.button.alt:active, .woocommerce button.button.alt:active,
  .woocommerce .button.alt.edd-submit:active,
  .woocommerce
  .button.alt#edd-purchase-button:active, .woocommerce #respond input.button.alt#submit:focus, .woocommerce a.button.alt:focus, .woocommerce input.button.alt:focus, .woocommerce button.button.alt:focus,
  .woocommerce .button.alt.edd-submit:focus,
  .woocommerce
  .button.alt#edd-purchase-button:focus, .woocommerce a.button:active, .woocommerce button.button:active, .woocommerce input.button:active, .woocommerce #respond input.button#submit:active,
  .woocommerce .button.edd-submit:active,
  .woocommerce
  .button#edd-purchase-button:active, .woocommerce a.button:focus, .woocommerce button.button:focus, .woocommerce input.button:focus, .woocommerce #respond input.button#submit:focus,
  .woocommerce .button.edd-submit:focus,
  .woocommerce
  .button#edd-purchase-button:focus,
  .woocommerce input.button:active,
  .woocommerce input.button:focus,
  .woocommerce #respond input#submit:active,
  .woocommerce #respond input#submit:focus {
    border-color: #ff5533;
    box-shadow: none;
    color: #fff; }

.woocommerce .woocommerce-tabs ul.tabs {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(100, 105, 105, 0.1) !important;
  background: rgba(255, 255, 255, 0.8); }
  .woocommerce .woocommerce-tabs ul.tabs li {
    border: none !important;
    background: rgba(150, 155, 155, 0.1) !important;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 1em; }
    .woocommerce .woocommerce-tabs ul.tabs li a {
      display: inline-block;
      padding: .5em 0;
      text-decoration: none; }
      .woocommerce .woocommerce-tabs ul.tabs li a:hover {
        text-decoration: none; }
    .woocommerce .woocommerce-tabs ul.tabs li.active {
      background: rgba(255, 255, 255, 0.8) !important; }
      .woocommerce .woocommerce-tabs ul.tabs li.active a {
        text-shadow: inherit !important; }
      .woocommerce .woocommerce-tabs ul.tabs li.active:before {
        display: none !important; }
      .woocommerce .woocommerce-tabs ul.tabs li.active:after {
        display: none !important; }
    .woocommerce .woocommerce-tabs ul.tabs li:before, .woocommerce .woocommerce-tabs ul.tabs li:after {
      display: none !important; }
    .woocommerce .woocommerce-tabs ul.tabs li:before {
      display: none !important; }
    .woocommerce .woocommerce-tabs ul.tabs li:after {
      display: none !important; }
  .woocommerce .woocommerce-tabs ul.tabs:before {
    display: none !important; }

.woocommerce .woocommerce-tabs .panel {
  margin: 0 0 2em 0 !important;
  padding: 1em 2em !important;
  border: 1px solid rgba(100, 105, 105, 0.1);
  border-top: none;
  background: rgba(255, 255, 255, 0.8); }

.woocommerce #reviews #comments ol.commentlist .comment .comment_container .comment-text {
  background: rgba(255, 255, 255, 0.1) !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 15px !important; }

.woocommerce #reviews #comments ol.commentlist .comment .comment_container .avatar {
  padding: 0 !important;
  background: #fff !important;
  border-color: #fff !important; }

.woocommerce .product span.onsale {
  min-height: 1.2em;
  min-width: 1.2em;
  padding: .2em .5em;
  position: absolute;
  text-align: center;
  top: -.5em;
  left: -.5em;
  margin: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.woocommerce .entry-summary {
  margin-top: 0; }

.woocommerce .star-rating {
  color: #f1c40f; }

.woocommerce table.shop_table.shop_table_responsive.cart, .woocommerce .edd-checkout .shop_table.shop_table_responsive.cart#edd_checkout_cart, .edd-checkout .woocommerce .shop_table.shop_table_responsive.cart#edd_checkout_cart {
  margin-bottom: 4em; }
  .woocommerce table.shop_table.shop_table_responsive.cart input.button, .woocommerce .edd-checkout .shop_table.shop_table_responsive.cart#edd_checkout_cart input.button, .edd-checkout .woocommerce .shop_table.shop_table_responsive.cart#edd_checkout_cart input.button {
    padding: .55em .8em; }
  .woocommerce table.shop_table.shop_table_responsive.cart .coupon #coupon_code, .woocommerce .edd-checkout .shop_table.shop_table_responsive.cart#edd_checkout_cart .coupon #coupon_code, .edd-checkout .woocommerce .shop_table.shop_table_responsive.cart#edd_checkout_cart .coupon #coupon_code {
    width: 120px !important;
    height: 36px !important;
    line-height: 1.7em; }

.woocommerce table.shop_table td, .woocommerce .edd-checkout .shop_table#edd_checkout_cart td, .edd-checkout .woocommerce .shop_table#edd_checkout_cart td, .woocommerce table.shop_table th, .woocommerce .edd-checkout .shop_table#edd_checkout_cart th, .edd-checkout .woocommerce .shop_table#edd_checkout_cart th {
  border: none; }

.woocommerce .wc-proceed-to-checkout button, .woocommerce .wc-proceed-to-checkout .button.alt.edd-submit, .woocommerce .wc-proceed-to-checkout a.button, .woocommerce .wc-proceed-to-checkout input.button, .woocommerce .wc-proceed-to-checkout #respond input#submit, .woocommerce #respond .wc-proceed-to-checkout input#submit, .woocommerce .wc-proceed-to-checkout .edd-submit, .woocommerce .wc-proceed-to-checkout
#edd-purchase-button {
  font-size: 20px;
  font-size: 1.25rem;
  padding: .8em 2em;
  font-weight: normal; }

.woocommerce .woocommerce-checkout #place_order,
.woocommerce #add_payment_method #place_order {
  font-size: 1.25em;
  padding: .8em 2em; }

.woocommerce .woocommerce-checkout #payment,
.woocommerce #add_payment_method #payment {
  background: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .woocommerce .woocommerce-checkout #payment ul.payment_methods div.payment_box,
  .woocommerce #add_payment_method #payment ul.payment_methods div.payment_box {
    background-color: rgba(0, 0, 0, 0.05); }
    .woocommerce .woocommerce-checkout #payment ul.payment_methods div.payment_box:before,
    .woocommerce #add_payment_method #payment ul.payment_methods div.payment_box:before {
      border-bottom-color: rgba(0, 0, 0, 0.05);
      /* arrow size / color */
      top: -1em; }

.woocommerce .woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .woocommerce .woocommerce-MyAccount-navigation ul li {
    margin-bottom: 10px; }

@media screen and (max-width: 770px) {
  .woocommerce .woocommerce-MyAccount-navigation {
    width: 100%; }
    .woocommerce .woocommerce-MyAccount-navigation ul li {
      display: inline-block;
      *display: inline;
      margin-right: 5px; }
  .woocommerce .woocommerce-MyAccount-content {
    width: 100%; } }

.woocommerce form.login,
.woocommerce form.register {
  border-color: rgba(150, 155, 155, 0.1); }

.woocommerce .related.products .products {
  margin-top: 24px; }

.woocommerce .widget_shopping_cart .widget_shopping_cart_content {
  padding: 10px 15px; }

.woocommerce .widget_shopping_cart a.button {
  display: block;
  margin: 5px 0;
  text-align: center; }

.woocommerce .widget_shopping_cart .cart_list li {
  border-bottom: 1px dashed rgba(100, 105, 105, 0.1);
  margin: 8px 0; }
  .woocommerce .widget_shopping_cart .cart_list li:last-child {
    border-bottom: none; }

.woocommerce .widget_rating_filter li {
  border: 1px dashed rgba(150, 155, 155, 0.1);
  margin: 5px 20px !important;
  padding: 5px 10px !important; }

.woocommerce .widget_price_filter .price_slider_wrapper {
  margin-top: 10px;
  margin-bottom: 10px; }

.woocommerce .widget_products li,
.woocommerce .widget_top_rated_products li,
.woocommerce .widget_recent_reviews li {
  margin: -8px -12px 8px !important;
  padding: 10px !important; }

.woocommerce .widget_product_tag_cloud a {
  font-size: 9pt !important;
  background: rgba(150, 155, 155, 0.1);
  margin: 2px 0 2px 2px;
  padding: 4px 8px;
  display: inline-block; }

.woocommerce .woocommerce-product-search input.search-field {
  width: 50%; }

.woocommerce .widget_product_categories ul li {
  padding: 0 14px;
  border: none; }
  .woocommerce .widget_product_categories ul li a {
    padding: 7px 0; }
    .woocommerce .widget_product_categories ul li a:before {
      font-family: 'simple-line-icons';
      content: '\e089';
      margin-left: 0;
      margin-right: 14px;
      float: left;
      display: inline-block; }

.woocommerce .widget_product_categories ul ul li {
  border: none; }
  .woocommerce .widget_product_categories ul ul li a:before {
    font-family: 'simple-line-icons';
    content: '\e606';
    margin-right: 5px;
    float: left;
    display: inline-block;
    font-size: 10px;
    line-height: 2.3em; }

/*--------------------------------------------------------------
# Easy Digital Download
--------------------------------------------------------------*/
.edd_download_columns_3 .edd_download {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .edd_download_columns_3 .edd_download:last-child {
    margin-right: 0; }
  .edd_download_columns_3 .edd_download:nth-child(3n) {
    margin-right: 0; }
  .edd_download_columns_3 .edd_download:nth-child(3n+1) {
    clear: left; }

.edd-submit,
#edd-purchase-button,
input[type="submit"].edd-submit {
  background: #ff6633;
  border-color: #ff6633;
  color: #fff; }

.edd-checkout .entry-header {
  display: none; }

@media screen and (max-width: 600px) {
  .edd_download_columns_3 .edd_download {
    width: 100% !important; } }
